.blog-box{
    .titled-list{
        list-style-type: disc;
        margin: 0;
        li{
           @include text-general;
        }
    }
    .untitled-list{
        list-style-type: disc;
        margin: 0;
        li{
           @include text-general;
        }
    }
}