:root{
    --background-header-color:#;
    --background-color:#;
    --background-color-project:#;
    --background-form-color:#;
    --background-input-color:#;
    --border-input-color:#;
    --letters-nav-color-hover:#;
    --border-nav-color:#;
    --border-nav-color-hover:#;
    --font-color:#;
    --button-form-color:#;
    --button-form-color-hover:#;
    --button-letter-color:#;
    --button-letter-color-hover:#;
    --button-theme-background:#;
    --button-theme-letter:#;
    --button-return-background:#;
    --button-return-letter:#;
}