$primary-color-dark:#3D3D3D;
$primary-color-str-dark:  #1F1F1F;

$secondary-color-dark: #9895B1;
$secondary-color-str-dark: #817E9F;

$primary-color-clear: #BED8D4;
$primary-color-str-clear: #8ea09d;

$secondary-color-clear: #D6FFB7;
$secondary-color-str-clear: #afcc99;