*{
    box-sizing: border-box;
}

body,html{
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    scroll-behavior: smooth;
    background-color: var(--background-header-color);
}

.title-section{
    font-family: $primary-font;
    font-size: 54px;
    margin: 30px 0 60px -63px;
}

h1,h2,a{
    color: var(--titles-color);
}

p,figcaption,label{
    color: var(--font-color);
}

#global-container{
    max-width: 1280px;
    margin-left: 9%;
}

a{
    text-decoration: none;
    transition: all .0s;
}

a:hover{
    color: var(--letters-nav-color-hover);
}

a:visited{
    color: var(--font-color);
}

/*  Mixin  */
@mixin flex-direction-justify($displey,$direccion,$contenido,$items) {
    display: $displey;
    flex-direction: $direccion;
    justify-content: $contenido;
    justify-items: $items;
}
@mixin style-inputs {
    width: 100%;
    padding: 5px 5px;

    font-size: 100%;
    font-family: $primary-font-dark;

    background-color: white;
    border: none;
    border-bottom: solid 1px $primary-color-str-clear;
    border-radius: .5px;
    outline: none;
}

/*  Var  */
$box-shadow: 2px 2px 5px var(--box-shadow-color);
$border-1px: solid 1px var(--border-nav-color);

/*  Media  */
@media only screen and (max-width:768px){
    .title-section{
        font-size: 40px;
        margin-bottom: 40px;
        margin-left: -46px;
    }
}
@media only screen and (max-width: 600px){
    .title-section{
        margin-bottom: 20px;
        margin-left: -5%;
    }
    #global-container{
        margin-left: 5%;
    }
}