$primary-font: 'SourceSansPro-light', sans-serif, Tahoma, Geneva, Verdana;
$primary-font-dark: 'SourceSansPro-regular';

@font-face{
    font-family: 'SourceSansPro-light';
    src: url("../fonts/SourceSansPro-Light.ttf");
}
@font-face{
    font-family: 'SourceSansPro-regular';
    src: url("../fonts/SourceSansPro-Regular.ttf");
}