header{
        position: relative;
        z-index: 2;
        background-color: var(--background-header-color);

    .menu-icon{
        width: 40px;
    }
    .container-nav{
        @include flex-direction-justify(flex,row,flex-end,initial);
        margin-right:15%;
        padding:  20px 0;

        >div:nth-child(0n + 2){
            border-right: $border-1px;
            border-left: $border-1px;
        }
    }

    .nav-button{
        text-align: center;
        .link-button{
            display: block;
            padding: 15px 30px;
            border-bottom: solid 2px transparent;
        }
        .link-button:hover{
            border-color: var(--border-nav-color-hover);
            color: var(--letters-nav-color-hover);
        }
    }
}

.container-themes{
    @include flex-direction-justify(flex,row,initial,initial);
    position: absolute;
    left: 0%;
    top: 18%;
    width: 200px;
    color: var(--font-color);
    padding: 0;

   .button-theme{
        padding: 0;
        font-size: 30px;
        background: var(--button-theme-background);
        color: var(--button-theme-letter);
        border-radius: 100%;
        border: none;
        width: 60px;
        height: 60px;
        margin-right: 15px;
        outline: none;
    }
}

/*  Tablets  */
@media only screen and (max-width:768px){
    header{
        .container-nav{
            margin-right:5%;
        }   
    }
    .container-themes{
        .button-theme{
            width: 55px;
            height: 55px;
        }
    }
}
    
/*  Moviles  */
@media only screen and (max-width: 600px){
    header{
        height: 60px;
        .container-nav{
            margin: 0;
            padding: 0;
            .nav-button{
                .link-button{
                    padding: 19px 15px;
                }
            }
        }
    } 
    .container-themes{
        .button-theme{
            font-size: 23px;
            width: 40px;
            height: 40px;
        }
    }  
}

@media only screen and (max-width: 375px){
    .container-themes{
        .button-theme{
            margin-right: 3px;
            font-size: 20px;
            width: 35px;
            height: 35px;
        }
    }  
}

@media only screen and (max-width: 360px){
    .container-themes{
        left: -4%;
    }  
}

@media only screen and (max-width: 340px){
    .container-themes{
        left: 3px;
        top: 63px;
    }  
}