header{
        position: relative;
        z-index: 1;
        background-color: white;

    .menu-icon{
        width: 40px;
    }
    .container-nav{
        @include flex-direction-justify(flex,row,flex-end,initial);
        margin-right:15%;
        padding:  20px 0;

        >div:nth-child(0n + 2){
            border-right: $border-1px;
            border-left: $border-1px;
        }
    }

    .nav-button{
        text-align: center;
        .link-button{
            display: block;
            padding: 15px 30px;
            border-bottom: solid 2px transparent;
        }
        .link-button:hover{
            border-color: $primary-color-clear;
        }
    }
}

/*  Tablets  */
@media only screen and (max-width:768px){
    header{
        .container-nav{
            margin-right:5%;
        }   
    }
}
    
/*  Moviles  */
@media only screen and (max-width: 600px){
    header{
        height: 60px;
        .container-nav{
            margin: 0;
            padding: 0;
            .nav-button{
                .link-button{
                    padding: 20px 15px;
                }
            }
        }
    }   
}