#container-projects{
    @include flex-direction-justify(flex,row,center,initial);
    flex-wrap: wrap;
    background-color: var(--background-color);
    
    >.title-section{
        flex: 100%;
        margin-left: -48px;
    }
    
    .project-container{
        @include flex-direction-justify(flex,column,initial,initial);
        flex: 45%;
        margin: 10px;
        box-shadow: $box-shadow;
        background-color: var(--background-project-color);
        text-align: center;

        a{
            display: block;

            img{
                width: 100%;
            }
        }

        .text-project{
            padding: 10px 0;
            margin: auto;
            @include flex-direction-justify(flex,column,initial,initial);
            h2{
                display: block;
                margin: 0;
            }
            p{
                display: block;
                margin: 0;
            }
        }
    }

    .explanation-projects{
        text-align: center;
        margin: 20px 0;
        p{
            font-size: 20px;
            margin: 0;
        }
    }
}

/*  Tablet  */
@media only screen and (max-width: 768px){
    #container-projects{

        >.title-section{
            margin-left: -46px;
        }

        .project-container{        
            .text-project{
                h2{
                    font-size: 20px;
                }
            }
        }
        .explanation-projects{
            p{
                font-size: 15px;
                margin: 0 auto 20 auto;
            }
        }
    }
}

/*  Movil  */
@media only screen and (max-width: 600px){
    #container-projects{

        >.title-section{
            margin-left: -5%;
        }
        .project-container{
            flex: 100%;
        }
    }
}