article{
    #container-sm{
        background-color: $primary-color-clear;
        display: flex;
        flex-direction: column;
        flex: 100%;
        padding-bottom: 30px;

        .container-img-fig{
            display: flex;
            margin-left: 60px;
            width: auto;

            .img-container{
                width: 36vw;
                .img-sm{
                    width: 100%;
                    display: block;
                    max-height: 1280px;
                    box-shadow: 2px 2px 5px $primary-color-dark;
                }
            }

            .container-fig{
                width: 50px;
                figcaption{
                    font-family: $primary-font-dark;
                    width: 200px;
                    font-size: 20px;
                    word-spacing: 10px;
                    transform: rotate(90deg);
                    transform-origin: top left;
                    margin-left: 40px;
                }
            }
        }
        .mini-explanation{
            display: flex;
            justify-content: flex-end;
            >p{
                font-family: $primary-font-dark;
                width: 40%;
                display: block;
                margin: -40px 5% 0 55%;
                font-size: 20px;
                >a{
                    text-decoration:underline;
                }
            }
        }
    }
}

/*  Tablets  */
@media only screen and (max-width:768px){
    article{
        #container-sm{ 

            .container-img-fig{
                .img-container{
                    width: 45vw;
                }
            }

            .mini-explanation{
                >p{
                    margin: -40px 0 0 61%;
                    font-size: 15px;
                }
            }
        }
    }
}

/*  Moviles  */
@media only screen and (max-width: 600px){
    article{
        #container-sm{ 
            padding-right: 5%;
            .title-section{
                margin-bottom: 20px;
                margin-left: -5%;
            }

            .container-img-fig{
                    flex-direction: column;
                    margin: 0;

                .img-container{
                    width: 90%;
                    margin: auto;
                    .img-sm{
                        display: block;
                    }
                }

                .container-fig{
                    margin: 15px 0 0 5%;
                    figcaption{
                        font-family: $primary-font-dark;
                        transform: none;
                        margin: 0;
                    }
                }
            }

            .mini-explanation{
                justify-content: center;
                margin: 20px 0 0 5%;
                >p{
                    margin: 0;
                    width: 100%;
                    font-size: 15px;
                }
            }
        }
    }
}