#return{
    position: fixed;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    right: 2%;
    top: 2%;
    z-index: 0;
    background-color: var(--button-return-background);

    i{
        position: absolute;
        right: -2%;
        top: -3%; 

        font-size: 60px;
        color: var(--button-return-letter);
    }
}

article{
    #container-sm{
        background-color: var(--background-color);
        @include flex-direction-justify(flex,column,initial,initial);
        flex: 100%;
        padding-bottom: 30px;

        .container-img-fig{
            display: flex;
            margin-left: 60px;
            width: auto;

            .img-container{
                width: 36vw;
                max-width: 505.8px;
                .img-sm{
                    object-fit: fill;
                    width: 100%;
                    display: block;
                    max-height: 1280px;
                    box-shadow: $box-shadow;
                }
            }

            .container-fig{
                width: 50px;
                figcaption{
                    font-family: $primary-font-dark;
                    width: 200px;
                    font-size: 20px;
                    word-spacing: 10px;
                    transform: rotate(90deg);
                    transform-origin: top left;
                    margin-left: 40px;
                }
            }
        }
        .mini-explanation{
            @include flex-direction-justify(flex,row,flex-end,initial);
            >p{
                font-family: $primary-font-dark;
                width: 40%;
                display: block;
                margin: -40px 5% 0 55%;
                font-size: 20px;
                >a{
                    text-decoration:underline;
                }
            }
        }

        .knowledge-container{
                display: flex;
                margin: 40px 0 30px 0;

            .knowledge-text{
                flex: 50%;
                margin: auto;
                
                h2{
                    font-size: 35px;
                    margin:  0 0 5px 0;
                }
                p{  
                    font-family: $primary-font-dark;
                    font-size: 18px;
                    margin: 0 0 0 10px;
                }
            }

            .knowledge-img{
                flex: 50%;
                @include flex-direction-justify(flex,row,center,initial);
                flex-wrap: wrap;

                .first-img{
                    width: 100%;
                    picture{
                        >img{
                            display: block;
                            margin: auto;
                        }
                    }
                }
                >picture:last-child{
                    >img{
                        display: block;
                        margin-left: 25%;
                    }
                }  
            } 
        }
    }
}

/*  Tablets  */
@media only screen and (max-width:768px){
    #return{
        top: 1%;
        right: 1%;
        width: 50px;
        height: 50px;
    
        i{
            font-size: 53px;
        }
    }
    article{
        #container-sm{ 

            .container-img-fig{
                .img-container{
                    width: 45vw;
                }
            }

            .mini-explanation{
                >p{
                    margin: -40px 0 0 61%;
                    font-size: 15px;
                }
            }

            .knowledge-container{
                .knowledge-text{
                    flex: 60%; 
                }
                .knowledge-img{
                    flex: 40%;
                    img{
                        width: 70px;
                        height: 110px;
                    }
                    #sass-img{
                        margin-left: 15%;
                        width: 110px;
                        height: 100px;
                    }
                }
            }
        }
    }
}

/*  Moviles  */
@media only screen and (max-width: 600px){
    #return{
        width: 40px;
        height: 40px;
        i{   
            font-size: 45px;
        }
    }
    article{
        #container-sm{ 
            padding-right: 5%;
            .title-section{
                margin-bottom: 20px;
                margin-left: -5%;
            }

            .container-img-fig{
                    flex-direction: column;
                    margin: 0;

                .img-container{
                    width: 90%;
                    margin: auto;
                    .img-sm{
                        display: block;
                    }
                }

                .container-fig{
                    margin: 15px 0 0 5%;
                    figcaption{
                        font-family: $primary-font-dark;
                        transform: none;
                        margin: 0;
                    }
                }
            }

            .mini-explanation{
                justify-content: center;
                margin: 20px 0 0 5%;
                >p{
                    margin: 0;
                    width: 100%;
                    font-size: 15px;
                }
            }

            .knowledge-container{
                .knowledge-text{
                    flex: 85%; 
                }
                .knowledge-img{
                    flex: 15%;
                    flex-direction: column;
                    picture{
                        img{
                            display: block;
                            margin: auto;
                            width: 50px;
                            height: 70px;
                        }
                    }
                    #sass-img{
                        margin-left: 0;
                        width: 90px;
                        height: 67px;
                    } 
                }
            }
        }
    }
}

@media only screen and (max-width: 375px){
    article{
        #container-sm{ 
            .knowledge-container{
                flex-wrap: wrap;

                .knowledge-text{
                    flex: 100%; 
                }
                
                .knowledge-img{
                    flex: 100%;
                    flex-direction: row;
                    justify-content:space-around;
                    flex-wrap: nowrap;
                    margin-top: 20px;
                    padding-left: 20px;
                        
                    .first-img{
                        width: auto;
                        margin: 0;
                    }
                    >img{
                        margin: 0;
                    }  
                }
            }
        }
    }
}