:root {
  --background-header-color:#;
  --background-color:#;
  --background-color-project:#;
  --background-form-color:#;
  --background-input-color:#;
  --border-input-color:#;
  --letters-nav-color-hover:#;
  --border-nav-color:#;
  --border-nav-color-hover:#;
  --font-color:#;
  --button-form-color:#;
  --button-form-color-hover:#;
  --button-letter-color:#;
  --button-letter-color-hover:#;
  --button-theme-background:#;
  --button-theme-letter:#;
  --button-return-background:#;
  --button-return-letter:#;
}

@font-face {
  font-family: 'SourceSansPro-light';
  src: url("../fonts/SourceSansPro-Light.ttf");
}

@font-face {
  font-family: 'SourceSansPro-regular';
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "SourceSansPro-light", sans-serif, Tahoma, Geneva, Verdana;
  scroll-behavior: smooth;
  background-color: var(--background-header-color);
}

.title-section {
  font-family: "SourceSansPro-light", sans-serif, Tahoma, Geneva, Verdana;
  font-size: 54px;
  margin: 30px 0 60px -63px;
}

h1, h2, a {
  color: var(--titles-color);
}

p, figcaption, label {
  color: var(--font-color);
}

#global-container {
  max-width: 1280px;
  margin-left: 9%;
}

a {
  text-decoration: none;
  -webkit-transition: all .0s;
  transition: all .0s;
}

a:hover {
  color: var(--letters-nav-color-hover);
}

a:visited {
  color: var(--font-color);
}

/*  Mixin  */
/*  Var  */
:root {
  --link-return:#;
}

/*  Media  */
@media only screen and (max-width: 768px) {
  .title-section {
    font-size: 40px;
    margin-bottom: 40px;
    margin-left: -46px;
  }
}

@media only screen and (max-width: 600px) {
  .title-section {
    margin-bottom: 20px;
    margin-left: -5%;
  }
  #global-container {
    margin-left: 5%;
  }
}

header {
  position: relative;
  z-index: 1;
  background-color: var(--background-header-color);
}

header .menu-icon {
  width: 40px;
}

header .container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  justify-items: initial;
  margin-right: 15%;
  padding: 20px 0;
}

header .container-nav > div:nth-child(0n + 2) {
  border-right: solid 1px var(--border-nav-color);
  border-left: solid 1px var(--border-nav-color);
}

header .nav-button {
  text-align: center;
}

header .nav-button .link-button {
  display: block;
  padding: 15px 30px;
  border-bottom: solid 2px transparent;
}

header .nav-button .link-button:hover {
  border-color: var(--border-nav-color-hover);
  color: var(--letters-nav-color-hover);
}

.container-themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  justify-items: initial;
  position: absolute;
  left: 0%;
  top: 18%;
  width: 200px;
  color: var(--font-color);
  padding: 0;
}

.container-themes .button-theme {
  padding: 0;
  font-size: 30px;
  background: var(--button-theme-background);
  color: var(--button-theme-letter);
  border-radius: 100%;
  border: none;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  outline: none;
}

/*  Tablets  */
@media only screen and (max-width: 768px) {
  header .container-nav {
    margin-right: 5%;
  }
  .container-themes .button-theme {
    width: 55px;
    height: 55px;
  }
}

/*  Moviles  */
@media only screen and (max-width: 600px) {
  header {
    height: 60px;
  }
  header .container-nav {
    margin: 0;
    padding: 0;
  }
  header .container-nav .nav-button .link-button {
    padding: 20px 15px;
  }
  .container-themes .button-theme {
    font-size: 23px;
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 375px) {
  .container-themes {
    left: 0%;
    top: 63px;
  }
  .container-themes .button-theme {
    margin-right: 8px;
    font-size: 20px;
    width: 35px;
    height: 35px;
  }
}

#return {
  position: fixed;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  right: 2%;
  top: 2%;
  z-index: 0;
  background-color: var(--button-return-background);
}

#return i {
  position: absolute;
  right: -2%;
  top: -3%;
  font-size: 60px;
  color: var(--button-return-letter);
}

article #container-sm {
  background-color: var(--background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  justify-items: initial;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  padding-bottom: 30px;
}

article #container-sm .container-img-fig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
  width: auto;
}

article #container-sm .container-img-fig .img-container {
  width: 36vw;
  max-width: 505.8px;
}

article #container-sm .container-img-fig .img-container .img-sm {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  display: block;
  max-height: 1280px;
  -webkit-box-shadow: 2px 2px 5px var(--box-shadow-color);
          box-shadow: 2px 2px 5px var(--box-shadow-color);
}

article #container-sm .container-img-fig .container-fig {
  width: 50px;
}

article #container-sm .container-img-fig .container-fig figcaption {
  font-family: "SourceSansPro-regular", sans-serif, Tahoma, Geneva, Verdana;
  width: 200px;
  font-size: 20px;
  word-spacing: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  margin-left: 40px;
}

article #container-sm .mini-explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  justify-items: initial;
}

article #container-sm .mini-explanation > p {
  font-family: "SourceSansPro-regular", sans-serif, Tahoma, Geneva, Verdana;
  width: 40%;
  display: block;
  margin: -40px 5% 0 55%;
  font-size: 20px;
}

article #container-sm .mini-explanation > p > a {
  text-decoration: underline;
}

/*  Tablets  */
@media only screen and (max-width: 768px) {
  #return {
    top: 1%;
    right: 1%;
    width: 50px;
    height: 50px;
  }
  #return i {
    font-size: 53px;
  }
  article #container-sm .container-img-fig .img-container {
    width: 45vw;
  }
  article #container-sm .mini-explanation > p {
    margin: -40px 0 0 61%;
    font-size: 15px;
  }
}

/*  Moviles  */
@media only screen and (max-width: 600px) {
  #return {
    width: 40px;
    height: 40px;
  }
  #return i {
    font-size: 45px;
  }
  article #container-sm {
    padding-right: 5%;
  }
  article #container-sm .title-section {
    margin-bottom: 20px;
    margin-left: -5%;
  }
  article #container-sm .container-img-fig {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  article #container-sm .container-img-fig .img-container {
    width: 90%;
    margin: auto;
  }
  article #container-sm .container-img-fig .img-container .img-sm {
    display: block;
  }
  article #container-sm .container-img-fig .container-fig {
    margin: 15px 0 0 5%;
  }
  article #container-sm .container-img-fig .container-fig figcaption {
    font-family: "SourceSansPro-regular", sans-serif, Tahoma, Geneva, Verdana;
    -webkit-transform: none;
            transform: none;
    margin: 0;
  }
  article #container-sm .mini-explanation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0 0 5%;
  }
  article #container-sm .mini-explanation > p {
    margin: 0;
    width: 100%;
    font-size: 15px;
  }
}

#container-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: initial;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: var(--background-color);
}

#container-projects > .title-section {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin-left: -48px;
}

#container-projects .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  justify-items: initial;
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 5px var(--box-shadow-color);
          box-shadow: 2px 2px 5px var(--box-shadow-color);
  background-color: var(--background-project-color);
  text-align: center;
}

#container-projects .project-container a {
  display: block;
}

#container-projects .project-container a img {
  width: 100%;
}

#container-projects .project-container .text-project {
  padding: 10px 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  justify-items: initial;
}

#container-projects .project-container .text-project h2 {
  display: block;
  margin: 0;
}

#container-projects .project-container .text-project p {
  display: block;
  margin: 0;
}

#container-projects .explanation-projects {
  text-align: center;
  margin: 20px 0;
}

#container-projects .explanation-projects p {
  font-size: 20px;
  margin: 0;
}

/*  Tablet  */
@media only screen and (max-width: 768px) {
  #container-projects > .title-section {
    margin-left: -46px;
  }
  #container-projects .project-container .text-project h2 {
    font-size: 20px;
  }
  #container-projects .explanation-projects p {
    font-size: 15px;
    margin: 0 auto 20 auto;
  }
}

/*  Movil  */
@media only screen and (max-width: 600px) {
  #container-projects > .title-section {
    margin-left: -5%;
  }
  #container-projects .project-container {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

#container-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  justify-items: initial;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  background-color: var(--background-color);
}

#container-contact .divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container-contact .divider .form-and-p {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  padding: 0 20px 20px 20px;
}

#container-contact .divider .form-and-p p {
  margin-top: 0;
  font-size: 20px;
}

#container-contact .divider .form-and-p #form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  justify-items: initial;
  width: 100%;
  padding: 0 10px 10px 10px;
  background-color: var(--background-form-color);
  font-family: "SourceSansPro-light", sans-serif, Tahoma, Geneva, Verdana;
  -webkit-box-shadow: 2px 2px 5px var(--box-shadow-color);
          box-shadow: 2px 2px 5px var(--box-shadow-color);
}

#container-contact .divider .form-and-p #form-contact div {
  margin: 10px 0;
}

#container-contact .divider .form-and-p #form-contact div label {
  display: block;
  font-size: 20px;
}

#container-contact .divider .form-and-p #form-contact div input[type=text], #container-contact .divider .form-and-p #form-contact div input[type=email] {
  width: 100%;
  padding: 5px 5px;
  font-size: 100%;
  font-family: "SourceSansPro-regular", sans-serif, Tahoma, Geneva, Verdana;
  background-color: white;
  border: none;
  border-bottom: solid 1px var(--border-input-color);
  border-radius: .5px;
  outline: none;
  background-color: var(--background-input-color);
}

#container-contact .divider .form-and-p #form-contact div textarea {
  width: 100%;
  padding: 5px 5px;
  font-size: 100%;
  font-family: "SourceSansPro-regular", sans-serif, Tahoma, Geneva, Verdana;
  background-color: white;
  border: none;
  border-bottom: solid 1px var(--border-input-color);
  border-radius: .5px;
  outline: none;
  background-color: var(--background-input-color);
  overflow: auto;
  resize: vertical;
  overflow-wrap: break-word;
}

#container-contact .divider .form-and-p #form-contact span {
  font-size: 25px;
}

#container-contact .divider .form-and-p #form-contact input[type=submit] {
  display: block;
  width: 120px;
  margin-top: 20px;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  font-family: "SourceSansPro-regular", sans-serif, Tahoma, Geneva, Verdana;
  font-size: 20px;
  color: var(--button-letter-color);
  outline: none;
  background-color: var(--button-form-color);
  -webkit-transition: all .4s;
  transition: all .4s;
}

#container-contact .divider .form-and-p #form-contact input[type=submit]:hover {
  background-color: var(--button-form-color-hover);
  color: var(--button-letter-color-hover);
}

#container-contact .divider .other-methods {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  text-align: center;
  padding: 0 60px;
  margin: auto;
}

#container-contact .divider .other-methods p {
  font-family: "SourceSansPro-regular", sans-serif, Tahoma, Geneva, Verdana;
  font-size: 20px;
}

#container-contact .divider .other-methods a img {
  width: 60px;
}

#container-contact .divider .other-methods #icon-linkedin {
  display: block;
}

/*  Escritorio  */
@media only screen and (max-width: 1255px) {
  #container-contact .divider .other-methods {
    padding: 0;
  }
}

/*  Tablet y Movil  */
@media only screen and (max-width: 768px) {
  #container-contact .divider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #container-contact .divider .form-and-p {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  #container-contact .divider .form-and-p #form-contact input[type=submit] {
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
  }
  #container-contact .divider .other-methods {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  #container-contact .divider .other-methods p {
    margin-top: 0;
  }
  #container-contact .divider .other-methods a img {
    width: 50px;
  }
  #container-contact .divider .other-methods #icon-linkedin {
    display: inline-block;
  }
}

#container-footer {
  padding: 20px 0;
  text-align: center;
}

#container-footer a {
  font-family: "SourceSansPro-regular", sans-serif, Tahoma, Geneva, Verdana;
}
/*# sourceMappingURL=styles.css.map */