<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <title>¡Gabi a la cocina!</title>
    <link rel="icon" type="image/png" href="../img/favicon.png">
</head>
<body>
    <div include-html="./header.html"></div>
    <div include-html="./main-menu.html"></div>
    <div class="row">
        <div class="aside" include-html="./aside.html"></div>
        <article class="content blog-box">
            <a href="./home.html" class="return-button button-top"><i class="fas fa-caret-left"></i> Volver</a>

            <h1 class="titles">qué comer despues de hacer ejercicio</h1>
            <p>Lo que comes en la hora siguiente a hacer ejercicio es clave para que tus músculos se reparen adecuadamente y que no sufras agujetas. Te descubrimos 5 ideas de comida post-entrenamiento que incluyen los nutrientes necesarios para recuperarte bien.</p>
        
            <h2 class="titles-second">1. Si el ejercicio es lo primero que haces</h2>
            <h3 class="titles-third">Huevos escalfados</h3>
            <p><strong>Por qué te convienen:</strong> el huevo <strong>aporta proteínas completas </strong>(con los 8 aminoácidos esenciales) que ayudan a reparar las fibras musculares rotas tras el ejercicio.</p>
            <br><strong class="titles-strong">Ingredientes:</strong>
            <ul class="titled-list">
                <li>1 huevo escalfado</li>
                <li>50 g de pavo</li>
                <li>Medio aguacate</li>
                <li>2 rebanadas de tostadas integrales o de espelta</li>
            </ul>

            <br><h2 class="titles-second">2. Idea de tentempié si entrenas a media mañana</h2>
            <h3 class="titles-third">Batido con leche vegetal</h3>
            <p><strong>Por qué te conviene:</strong> la leche vegetal, además de ser <strong>rica en hidratos de carbono y proteínas</strong> que ayudan a tu organismo a recuperarse tras la actividad física,<strong> es baja en grasas</strong> y se digiere mucho mejor.</p>
            <br><strong class="titles-strong">Ingredientes:</strong>
            <ul class="titled-list">
                <li>200 ml de leche de almendras, de coco o de avellanas (versiones siempre sin azúcar)</li>
                <li>1 plátano</li>
                <li>1 cucharada de avena</li>
            </ul>

            <br><h2 class="titles-second">3. Sana merienda para recuperar la energía</h2>
            <h3 class="titles-third">Yogur griego</h3>
            <p><strong>Por qué te conviene:</strong> el yogur griego contiene <strong>el doble de proteínas</strong> que los normales y es una <strong>gran fuente de calcio</strong>, esencial para unos huesos fuertes.</p>
            <br><strong class="titles-strong">Ingredientes:</strong>
            <ul class="titled-list">
                <li>200 g de yogur griego</li>
                <li>Media taza de avena</li>
                <li>Un puñadito de frutos rojos</li>
                <li>3 o 4 nueces</li>
            </ul>

            <br><h2 class="titles-second">4. La comida ideal para tus músculos</h2>
            <h3 class="titles-third">Pavo con puré de boniato y un cordón de miel</h3>
            <p><strong>Por qué te conviene:</strong> Este plato único te aporta <strong>proteína</strong> (pollo) y <strong>carbohidratos ricos en glucosa</strong> (boniato) y fructosa (miel), ambos necesarios <strong>para reponer las reservas de glucógeno</strong> perdido tras el ejercicio. Complétalo con un plátano de postre.</p>
            <br><strong class="titles-strong">Ingredientes:</strong>
            <ul class="titled-list">
                <li>200 g de pavo a la plancha</li>
                <li>50 g de boniato o patata</li>
                <li>Judía verde en juliana</li>
                <li>Una cucharadita de miel (puedes vertirla sobre el boniato o, si lo prefieres, sobre el plátano de postre)</li>
            </ul>

            <br><h2 class="titles-second">5. Una cena con triptófano si entrenas por la tarde</h2>
            <h3 class="titles-third">Salmón con mango y aguacate</h3>
            <p><strong>Por qué te conviene:</strong> Además de energía y proteínas, este plato <strong>es rico en triptófano</strong> que <strong>ayuda al cuerpo a relajarse</strong> tras la actividad física y a prepararse para dormir (ten en cuenta que ejercicio te activa, con lo puede costarte más conciliar el sueño</p>
            <br><strong class="titles-strong">Ingredientes:</strong>
            <ul class="titled-list">
                <li>150 g de salmón</li>
                <li>Medio mango y medio aguacate laminados</li>
                <li>Una taza de arroz integral</li>
            </ul>

            <h1 class="titles">¿Qué nutrientes necesita tu cuerpo después de entrenar?</h1>
            <p>Tus músculos almacenan energía en forma de <strong>glucógeno</strong>. Pero tras el ejercicio, <strong>esas reservas se agotan</strong> o quedan bajo mínimos y empieza la degradación muscular.</p>
            <p>Por eso pueden aparecer al cabo de unas horas o al día siguiente las temidas agujetas.</p>
            <p>Todo eso <strong>puede evitarse si tomas los nutrientes adecuados</strong> que ayuden a tu organismo a recuperarse adecuadamente:</p>
            <ul class="untitled-list">
                <li>En concreto, <strong>necesitas especialmente hidratos de carbono</strong> (para reponer las reservas de glucógeno) y <strong>proteínas</strong> (para ayudar a tus músculos a repararse).</li>
                <li>Y es muy importante obtener este aporte<strong> dentro de la hora siguiente a la práctica de ejercicio</strong>, ya que es cuando tu organismo es más sensible a la absorción de estos nutrientes.</li>
                <li>Recuerda que debes <strong>tomar pocas grasas porque ralentizan la asimilación de proteínas e hidratos</strong>, a no ser que sean grasas buenas como las que te aporta el aguacate o los frutos secos.</li>
            </ul>

            <a href="./home.html" class="return-button button-bot"><i class="fas fa-caret-left"></i> Volver</a>
        </article>
    </div>
    <div include-html="footer.html"></div>

<script src="../js/include-html.js"></script>
</body>
</html>