<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <title>¡Gabi a la cocina!</title>
    <link rel="icon" type="image/png" href="../img/favicon.png">
</head>
<body>
    <div include-html="./header.html"></div>
    <div include-html="./main-menu.html"></div>
    <div class="row">
        <div class="aside" include-html="./aside.html"></div>
        <section class="content blog-box">
            <a href="./home.html" class="return-button button-top"><i class="fas fa-caret-left"></i> Volver</a>

            <h1 class="titles">Qué comer antes de hacer ejercicio</h1>
            <p>Ya tienes lista tu bolsa, tu botella de agua, encontraste los dos zapatos (¡gol!)… pero, ¿se te olvida algo? Cuando se trata de ir a hacer ejercicio, el hecho de comer antes de salir mantiene estable el nivel de azúcar en la sangre. Eso quiere decir que tienes energía para hacer ejercicios cardiovasculares y de fuerza.</p>
            <p>Sugerencia: Mezcla proteínas, grasas saludables y un poco de carbohidratos. Por supuesto, después del ejercicio puedes agregar algún postre saludable (¡te lo ganaste!). Esto es lo que sugerimos para comer antes de hacer ejercicio.</p>
    
            <br><p><strong class="titles-strong">1. Pan integral tostado, mantequilla de maní o de almendra, y rebanadas de plátano</strong></p>
            <p>Hay una razón por la que a los corredores les encanta el plátano después de correr: esa fruta está llena de carbohidratos simples, azúcar natural y, lo mejor, potasio. Ese electrolito sirve para prevenir calambres y se consume por medio del sudor. La mantequilla de maní o de almendra contiene una grasa saludable, y el pan tostado no es más que complejos carbohidratos que mantienen estable el azúcar de la sangre.</p>
        
            <br><p><strong class="titles-strong">2. Muslos de pollo, arroz y verduras al vapor</strong></p>
            <p>¿Buscas la mejor comida antes de ir al gimnasio? Considera este platillo clásico, el cual contiene una mezcla de proteínas y carbohidratos complejos. Además, la fibra que contienen las verduras ayuda a la digestión. Escoger muslos en vez de pechuga de pollo es asunto de cada quien, lo cierto es que la carne oscura tiene más de esa grasa que evita que se sienta hambre al hacer ejercicio.   </p>

            <br><p><strong class="titles-strong">3. Avena, proteína en polvo y arándanos</strong></p>
            <p>Los carbohidratos de la avena se descomponen lentamente en el organismo, lo cual significa que uno tiene más energía de forma sostenida. Así que mejora tu alimentación agregando una cucharada de proteína en polvo. Frutas como el arándano, la frambuesa y la cereza contienen antioxidantes, los cuales son sustancias muy útiles para prevenir daños celulares. Además, son deliciosas.</p>

            <br><p><strong class="titles-strong">4. Huevos revueltos, verduras y aguacate  </strong></p>
            <p>Adelante, usa todo el huevo. El huevo contiene mucha proteína de calidad y, si te comes la yema, recibes los ocho aminoácidos esenciales. Estos estimulan el desarrollo y la recuperación de los músculos. El aguacate te brinda grasa saludable y las verduras te proporcionan enormes fuentes de nutrientes, sin importar cuáles escojas.</p>

            <br><p><strong class="titles-strong">5.  Batido de proteína </strong></p>
            <p>La proteína en polvo es casi obligatoria, pero, después de eso, escoge lo que más te guste. Leche, leche de almendras, mezcla de bayas, plátanos, mantequilla de maní, aguacate y hasta verduras de hoja verde, todas son buenas opciones. De esa manera recibirás carbohidratos que se digieren rápido, aparte de grasas saludables y proteínas.</p>

            <br><p><strong class="titles-strong">Prueba para ver cuáles te funcionan</strong></p>
            <p>Puede que tu preferencia sea el batido de proteínas, pero lo pruebas y… ¡sabe horrible! No hay problema. Al igual que el ejercicio, cuando se trata de opciones antes de hacer ejercicio no hay una cosa estándar para todo mundo. Antes de hacer ejercicio puedes comer lo que sea adecuado para ti.</p>
            <p>Además, presta atención a los tiempos. Si vas a comer mucho antes de hacer ejercicio, es mejor que comas de dos a tres horas antes del ejercicio. Ahora, si tienes poco tiempo, solo come un bocadillo unos 45 minutos antes de ir al gimnasio. Luego, fíjate en el efecto que tienen los tiempos. Puede que seas una de esas personas que puede comer 30 minutos antes de subirse a la trotadora o que tal vez te sientas mejor del estómago si te das más tiempo para hacer la digestión.</p>
            <p>Experimenta con combinaciones de alimentos y diferentes tiempos, y de seguro hallarás la mejor opción para comer antes del gimnasio.</p>
            
            <a href="./home.html" class="return-button button-bot"><i class="fas fa-caret-left"></i> Volver</a>
        </section>
    </div>
    <div include-html="./footer.html"></div>

<script src="../js/include-html.js"></script>
</body>
</html>