<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <title>¡Gabi a la cocina!</title>
    <link rel="icon" type="image/png" href="../img/favicon.png">
</head>

<body>

    <div include-html="./header.html"></div>
    <div include-html="./main-menu.html"></div>
    <div class="row">
        <div class="aside" include-html="aside.html"></div>
        <article class="content blog-box">
            <a href="./home.html" class="return-button button-top"><i class="fas fa-caret-left"></i> Volver</a>

            <h1 class="titles">arroz | variedades y como cocinarlas para que sean super saludables</h1>

            <p>Cuando consumimos arroz blanco, solo estamos ingiriendo almidón y nos perdemos su poder vitamínico, por eso es mejor optar por los cereales integrales</p>
            <p>El arroz es la base de la alimentación de gran parte del planeta. Es un alimento versátil, fácil de cocinar y libre de gluten, por lo cual se ha ganado un gran protagonismo en el universo de la cocina saludable.</p>
            <p>Sin embargo, el arroz blanco, que es el que más se come en Latinoamérica, es el menos recomendado, porque contiene almidón y baja cantidad de nutrientes.</p>
            
            <br><p><strong class="titles-strong">El grano de arroz está formado por tres partes:</strong></p>
            <ul class="titled-list">
                <li><strong>Endospermo:</strong> Rico en almidón y con gran cantidad de proteínas.</li>
                <li><strong>Salvado o cáscara:</strong> Localizados en las capas externas de los cereales, concentran fibras, vitaminas y minerales. Su consumo brinda mayor saciedad y estimula la evacuación.</li>
                <li><strong>Germen:</strong> Contiene proteínas, ácidos grasos y vitaminas liposolubles.</li>
            </ul>

            <h2 class="titles-second">¿Por qué elegir las versiones integrales?</h2>
            <p>Las diferencias son claras. Cuando consumimos arroz blanco, solo estamos ingiriendo almidón y nos perdemos su poder vitamínico y las propiedades de sus fibras.</p>
            <p>Por eso, la recomendación es incorporar granos completos, que conserven las vitaminas (A, B1, B3 y B12), proteínas, minerales (sodio, potasio, hierro, calcio y fósforo), ácidos grasos y fibras.</p>

            <h2 class="titles-second">variedades de arroz</h2>
            <p>Hay muchas variedades que podemos conseguir en almacenes naturales, mercados y dietéticas. Acá, algunas de ellas.</p>

            <ul class="untitled-list">
                <li><strong>Yamaní:</strong> Con mucho almidón, alto en fibra y gran poder saciante, es base de la alimentación macrobiótica y vegetariana. Queda delicioso en salteados con verduras y condimentos.</li>
                <li><strong>Koshihikari:</strong> Cremoso y aromático, es la variedad utilizada para hacer sushi y también para el risotto.</li>
                <li><strong>Carnaroli:</strong> También utilizado para rissoto. En cocciones lentas, conserva su forma, absorbe los sabores y tiene una textura firme, esponjosa y cremosa.</li>
                <li><strong>Basmati:</strong> Muy aromático y perfumado, es un arroz de grano largo muy rendidor. En la cocción aumenta más su volumen que otras variedades.</li>
                <li><strong>Jazmín:</strong> Base de la comida tailandesa, es una variedad de grano largo y súper perfumada. Su nombre viene del parecido a la flor de jazmín. Se usa como acompañamiento de curries, salteados y sopas.</li>
                <li><strong>Jazmín negro:</strong> Es la versión integral, de color negro, muy difícil de conseguir fuera de Tailandia.</li>
            </ul>

            <h2 class="titles-second">cómo cocinar el arroz</h2>
            <p>Hay tantas maneras de preparar el arroz como recetas. El modo recomendado para las versiones integrales es dejarlo en remojo por lo menos ocho horas. Así, se eliminarán los antinutrientes y las sustancia no deseadas. También conviene reducir los tiempos de cocción conservando su poder vitamínico mineral.</p>
            <p>La proporción de agua, en general, es de dos tazas por una de arroz para casi todos. En el caso de los integrales, en cambio, deben calcularse tres tazas de agua en una de arroz, en una olla preferentemente tapada.</p>
            <br><p><strong>Otro tip importante:</strong> los cereales aumentan su volumen casi tres veces en la cocción. Por lo tanto, son súper rendidores y económicos.</p>
            <p>Las recetas a base de arroz son infinitas y te dan la posibilidad de crear platos saludables, llenos de colores y sabores.</p>

            <a href="./home.html" class="return-button button-bot"><i class="fas fa-caret-left"></i> Volver</a>
        </article>
        
    </div>
    <div include-html="./footer.html"></div>

<script src="../js/include-html.js"></script>

</body>

</html>