<section class=main>
    <a class="title-post" href="./blog-rice.html" class="title-post"><h2>arroz | variedades y como cocinarlas para que sean super saludables</h2></a>
    <strong>Gabi Barbarin. <time datetime="2021-01-05">Ene 5, 2021</time></strong>
    <a href="./blog-rice.html"><img class="img-post" src="../img/post1.jpg" alt="post gabi cocina"></a>
    <p>El arroz es la base de la alimentación de gran parte del planeta. Es un alimento versátil, fácil de cocinar y libre de gluten, por lo cual se ha ganado un gran protagonismo en el universo de la cocina saludable.</p>
    <p>Sin embargo, el arroz blanco, que es el que más se come en Latinoamérica, es el menos recomendado, porque contiene almidón y baja cantidad de nutrientes...</p>
    <a href="./blog-rice.html" class="read-more">Leer más</a>

    <a href="./oats-blog.html" class="title-post"><h2>avena | 10 beneficios saludables de incluirla en tu dieta</h2></a>
    <strong>Gabi Barbarin. <time datetime="2021-01-05">Ene 3, 2021</time></strong>
    <a href="./oats-blog.html"><img class="img-post" src="../img/post2.jpg" alt="post gabi cocina"></a>
    <p>La avena es uno de los cereales con mayor riqueza nutrimental ya que aporta al organismo hidratos de carbono de absorción lenta, fibra, proteínas y minerales como el magnesio, hierro, cobre, zinc, además de vitaminas del grupo B y pequeñas cantidades de calcio y ácido fólico, además de sus bajó índicie de calorías.</p>
    <p>Se trata de uno de los cereales  que más popular se ha vuelto en el mundo de la cocina saludable gracias a sus multiples preparaciones y a la nueva tendencia de la harina de avena que sirve para elaborar masa con la que se puenden preprar muffins o hot cakes...</p>
    <a class="read-more" href="./oats-blog.html">Leer más</a>

    <a class="more-entries" href="#">Ver más entradas</a>
</section>