<section id="#container-contact">

    <form id="form-contact">

        <div>
            <label for="from_name">Nombre</label>
            <input type="text" name="from_name" id="from_name">
        </div>

        <div>
            <label for="from_email">Email</label>
            <input type="email" name="from_email" id="from_email">
        </div>

        <div>
            <label for="mensaje">Mensaje</label>
            <input type="textarea" name="mensaje" id="mensaje">
        </div>

        <input type="submit" id="button" value="Enviar" form="form-contact">
    </form>

</section>