<nav id="main-menu">
    <ul>
        <li class="border-menu"><a href="./home.html">Inicio</a></li>

        <li class="border-menu"><a href="./recipes-for-work.html">Recetas para el trabajo</a></li>

        <li class="border-menu"><a href="#">Recetas para cuando programas</a></li>

        <li>
            <a>Para ejercitarse</a>
                <ul>
                    <li><a href="#">Recetas para antes de ejercitarse</a></li>
                    <li><a href="#">Recetas para despues de ejercitarse</a></li>
                </ul>
        <li>
    </ul>
</nav>