<div class="nav-button"><a class="link-button" href="#container-sm">Sobre mi</a></div>
<div class="nav-button"><a class="link-button" href="#container-projects">Proyectos</a></div>
<div class="nav-button"><a class="link-button" href="#form-contact">Contacto</a></div>

<div class="container-themes">
    <button class="button-theme" onclick="theme('white','#BED8D4','#8EA09D','#FFEDE1','white','white','#817E9F','#9895B1','white','white','#8EA09D','#AFCC99','#BED8D4','black','394551','1F1F1F','claro','black','white','white','black');">
        <i class="fas fa-sun"></i>
    </button>

    <button class="button-theme" onclick="theme('#394551','#191D21','#394551','#394551','white','black','#1F1F1F','#9895B1','#9895B1','black','white','white','white','white','#BBC0C4','black','oscuro','white','black','black','white');">
        <i class="fas fa-moon"></i>
    </button>
</div>