<div class="nav-button"><a class="link-button" href="#container-sm">Sobre mi</a></div>
<div class="nav-button"><a class="link-button" href="#container-projects">Proyectos</a></div>
<div class="nav-button"><a class="link-button" href="#form-contact">Contacto</a></div>

<div class="container-themes">
    <div>
        <label for="clear">Claro</label>
        <input id="clear" type="radio" checked onclick="modoClaro();">
    </div>

    <div>
        <label for="dark">Oscuro</label>
        <input id="dark" type="radio" onclick="modoOscuro();">
    </div>
</div>

<!--button type="button" onclick="modoClaro();">Claro</button>-->
<!--button type="button" onclick="modoOscuro();">Oscuro</button>-->

