<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>¡Gabi a la cocina!</title>
    <link rel="icon" type="image/png" href="../img/favicon.png">
</head>

<body>

<div include-html="header.html"></div>
<div include-html="./main-menu.html"></div>

<div class="row">
    <div class="aside" include-html="./aside.html"></div>
    <article class="content blog-box">

        <a href="./home.html" class="return-button button-top"><i class="fas fa-caret-left"></i> Volver</a>

        <h1 class="titles">AVENA | 10 BENEFICIOS SALUDABLES DE INCLUIRLA EN TU DIETA</h1>
        <p class="title-bar">La avena es un superalimento que no solo aporta energía, sino que ayuda a tu cuerpo más de lo que piensas.</p>
        <p>La avena es uno de los cereales con mayor riqueza nutrimental ya que aporta al organismo hidratos de carbono de absorción lenta, fibra, proteínas y minerales como el magnesio, hierro, cobre, zinc, además de vitaminas del grupo B y pequeñas cantidades de calcio y ácido fólico, además de sus bajó índicie de calorías.</p>
        <p>Se trata de uno de los cereales  que más popular se ha vuelto en el mundo de la cocina saludable gracias a sus multiples preparaciones y a la nueva tendencia de la harina de avena que sirve para elaborar masa con la que se puenden preprar muffins o hot cakes.</p>
        <p>Estos son 10 beneficios de la Avena para que te decidas a integrarla a tu alimentación cotidiana.</p>

        <ul>
            <li>
                <h2 class="titles-second">1<strong>. puede ayudar a perder peso</strong></h2>
                <p>Esto es así porque la avena, al ser rica en hidratos de carbono que el organismo va absorbiendo gradualmente, hace que te sientas más satisfecho y consecuentemente pases más tiempo sin pasar hambre ni picotear lo que no debes.</p>
            </li>
            <li>
                <h2 class="titles-second">2<strong>. ayuda en el control del azúcar en sangre</strong></h2>
                <p>Se debe principalmente a su gran cantidad de fibra soluble, más concretamente los betaglucanos que, durante la digestión, forman una especie de gel que hace que el vaciado del estómago sea más lento, así como el paso del azúcar a la sangre. Esto es especialmente importante para las personas que sufren diabetes tipo 2.</p>
            </li>
            <li>
                <h2 class="titles-second">3<strong>. ayuda a controlar el colesterol</strong></h2>
                <p>La avena es útil para reducir los niveles de triglicéridos, así como el colesterol malo (el LDL) que puedan tener otros alimentos. Su contenido en ácidos omega 3 y linoleicos (grasa de buena calidad) hacen que suba el colesterol bueno. Este cereal contiene un tipo de polifenoles llamados avenantramidas, que son casi exclusivos de este alimento, que pueden ayudar a evitar la oxidación del colesterol. Para aprovechar esta cualidad, habrá queacompañar la avena de alimentos que sean altos en vitamina C.</p>
            </li>
            <li>
                <h2 class="titles-second">4<strong>. rica en atioxidantes</strong></h2>
                <p>Las avenantramidas, al ser polifenoles (sustancias químicas caracterizadas por la presencia de más de un grupo fenol por molécula) tienen propiedades antioxidantes, es decir, combaten la oxidación celular. También regulan la presión arterial y poseen efecto antiinflamatorio.</p>
            </li>
            <li>
                <h2 class="titles-second">5<strong>. aporta mucha energía</strong></h2>
                <p>Tomar avena para desayunar, aporta mucha energía para aguantar la mañana en el trabajo fuera de casa. También es perfecta para las personas <strong>deportistas</strong> y muy popular en los ambientes fitness.</p>
            </li>
            <li>
                <h2 class="titles-second">6<strong>. es probiótica</strong></h2>
                <p>Los maravillosos betaglucanos son fermentables, por lo que actúan como probióticos en el intestino, alimentando a las bacterias buenas que viven allí y mejorando la salud de nuestra microbiota.</p>
            </li>
            <li>
                <h2 class="titles-second">7<strong>. es buena para la digestión</strong></h2>
                <p>Este cereal es rico en fibra, así que las personas que sufren estreñimiento encontrarán en él a su mejor aliado. La avena ayuda con el tránsito intestinal y con la digestión de los alimentos. A las personas que sufren problemas digestivos sueles sentarle muy bien.</p>
            </li>
            <li>
                <h2 class="titles-second">8<strong>. previene el hipotiroidismo y ayuda con la bronquitis</strong></h2>
                <p>La avena contiene yodo, un mineral que hace la tiroides funcione como debe. Su consumo puede ayudar a prevenir el hipotiroidismo. Este cereal también posee propiedades mucolíticas y expectorantes, por lo que será una ayuda en casos de bronquitis.</p>
            </li>
            <li>
                <h2 class="titles-second">9<strong>. alimenta los tejidos del organismo</strong></h2>
                <p>Las proteínas de la avena son de gran valor biológico y es que aportan ocho de los nueve aminoácidos esenciales que nuestro organismo necesita y que no puede producir por él mismo. Los aminoácidos se combinan y forman las proteínas, nutrientes básicos de los tejidos y músculos.</p>
            </li>
            <li>
                <h2 class="titles-second">10<strong>. mantiene el sistema nervioso bajo control y alimenta los huesos</strong></h2>
                <p>La avena contiene vitaminas del grupo B que actúan como “equilibradoras” del sistema nervioso, es decir, que nos ayudan a estar más calmados. Su contenido en calcio viene muy bien para que los huesos no se desmineralicen previniendo la osteoporosis.</p>
            </li>
            
            
        </ul>

        <img src="../img/avena.jpg" alt="Avena post gabi a la cocina">
        <p class="text-end-blog">Ahora ya lo sabes, la avena es un superalimento que no solo aporta energía, sino que ayuda a tu cuerpo más de lo que piensas, anímate a incluirla en tu alimentación y descubre todas las bondades de este cereal que resulta muy fácil e conseguir.</p>
        
        <a href="./home.html" class="return-button button-bot"><i class="fas fa-caret-left"></i> Volver</a>
    </article>
</div>

<div include-html="./footer.html"></div>


<script src="../js/include-html.js"></script>

</body>
</html>