<section id="container-projects">
    <h1 class="title-section">Proyectos propios</h1>

    <div class="project-container">
        <a href="http://gabibarbarin.github.io/proyectos/blog-personal/index.html" target="_blank"><img src="../img/Gabriel Barbarin - Desarrollador Web.jpg" alt="Proyecto Gabriel Barbarin"></a>
        
        <div class="text-project">
            <h2 class="title-project">¡Gabriel Barbarin - Desarrollador web!</h2>
            <p>Una web de presentación personal responsive realizada con Float CSS.</p>
        </div>
    </div>

    <div class="project-container">
        <a href="http://gabibarbarin.github.io/proyectos/gabi-barbarin-news/index.html" target="_blank"><img src="../img/Gabi Barbarin News.jpg" alt="Proyecto Gabriel Barbarin"></a>
       
        <div class="text-project">
            <h2 class="title-project">¡Gabi Barbarin News!</h2>
            <p>Una web de noticias responsive realizada con FlexBox.</p>
        </div>
    </div>

    <div class="project-container">
        <a href="http://gabibarbarin.github.io/proyectos/mil's/index.html" target="_blank"><img src="../img/Mil's - Indumentaria femenina.jpg" alt="Proyecto Gabriel Barbarin"></a>
    
        <div class="text-project">
            <h2 class="title-project">Mil's - Indumentaria femenina</h2>
            <p>Una web responsive para la venta de indumentaria femenina realizada con Grid Layout.</p>
        </div>
    </div>

    <div class="project-container">
        <a href="http://gabibarbarin.github.io/proyectos/gabi-a-la-cocina/index.html" target="_blank"><img src="../img/¡Gabi a la cocina!.jpg" alt="Proyecto Gabriel Barbarin"></a>

        <div class="text-project">
            <h2 class="title-project">¡Gabi a la cocina!</h2>
            <p>Una web de noticias responsive realizada con FlexBox</p>
        </div>
    </div>

    <div class="explanation-projects">
        <p>Estas son una serie de poryectos propios que lleve a cabo en modo de practica/muestra de algunas de las cosas que puedo hacer.</p>
        <p>Los poryectos están presentados en el mismo orden que los fui llevando a cabo para tener una mayor referencia.</p>
        <p>Todos son echos con una tecnica de estilo diferente (Float, Grid Layout, FlexBox), en la mayoria utilice Sass y son totalmente responsives.</p>
    </div>
</section>