<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>¡Gabi a la cocina!</title>
    <link rel="icon" type="image/png" href="../img/favicon.png">
</head>
<body>

    <div include-html="./header.html"></div>
    <div include-html="./main-menu.html"></div>
    <div class="row">
        <div class="aside" include-html="./aside.html"></div>
        <article class="content blog-box">
            <a href="./home.html" class="return-button button-top"><i class="fas fa-caret-left"></i> Volver</a>

            <h1 class="titles">Recetas saludables para llevar al trabajo y orgranizar tu semana</h1>
            <p>Te voy a dar consejos de organización y recetas para comer en la oficina. Son fáciles, rápidas y con pocos ingredientes. Pero además con estos consejos podés darte el lujo de comer afuera ¿Cómo? ¡Fácil!</p><br>
            <p>La estrategia es comer vianda de lunes a jueves y con lo que ahorras en plata y en calorías, los viernes almorzar afuera, en algún restaurante que valga.</p>
            <p>Esa es la rutina: <strong>4 días de comida saludable ¡y el quinto de restaurante!</strong> Para llevar el tupper lleno a la oficina antes hay que tener algo para ponerle adentro, antes hay que cocinarlo y antes hay que comprarlo. <strong>El mejor día para organizar esto es el domingo, podés cocinar cosas fáciles que te sirvan para comer toda la semana.</strong></p><br>
            <p><strong>Tiene muchas ventajas organizarte las viandas, ahorras tiempo y dinero. </strong>Planificás tu comida y la balanceas.</p>
            <p>Vamos a organizar una semana y ver la lista de ingredientes que necesitamos. Esto es una idea orientativa, para conocer tus requerimientos nutricionales deberás consultar con un nutricionista.</p><br>
            <p>Lo que a mí me resulta es que <strong>con los mismos ingredientes resolver varias comidas.</strong> Por ejemplo, hacer una tarta y comerla dos días con distintos acompañamientos o freezar para la próxima semana. O cocinar pollo y un día comerlo así con ensalada y otro hacer alguna receta. ¡Y listo, resolví los cuatro almuerzos!Tené en cuenta que en la cena vas agregar variantes de comida.<strong> En los acompañamientos siempre elijo vegetales frescos o comida que se hierve, para que sea bien fácil.</strong> Y te quiero recomendar que tengas muy en cuenta las legumbres, lentejas, garbanzos, aduki, etc; son excelente opciones y solo hay que hervirlos.</p><br>
            <p>Otro tema son los tuppers, comprate unos exclusivos para tus viandas que tengan el tamaño adecuado y alguno con divisiones. <strong>Estrenar contenedores es un incentivo ideal para organizar las viandas.</strong></p>
            
            <h2 class="titles-second">Vianda día 1: Receta de tarta de vegetales y ensalada verde</h2>
            <strong class="titles-strong">Ingredientes para hacer masa de tarta:</strong>
            <ul class="titled-list">
                <li>250 de harina integral</li>
                <li>1 cucharadita de polvo para hornear</li>
                <li>1 huevo grande</li>
                <li>50 ml. de aceite de oliva</li>
                <li>50 ml. de vino blanco</li>
                <li>½ cucharadita de sal</li>
            </ul>
            
            <br><strong class="titles-strong">¿Cómo hacer masa de tarta?</strong>
            <p>Unir todos los ingredientes, amasar hasta homogeneizar. Dejas reposar al menos 30 minutos con film en contacto. Estirar y cubrir la tartera. <strong>Esta masa es la que siempre hago porque el vino la hace super crocante.</strong> En total el tiempo que estuve en la cocina fue muy poco. <strong>La tarta si quieren la pueden hacer con masa comprada y reducen aún más el tiempo.</strong></p>
            <br><strong  class="titles-strong">Ingredientes para una tarta de vegetales</strong>
            <ul class="titled-list">
                <li>2 zucchinis rallados</li>
                <li>2 zanahorias pequeñas ralladas</li>
                <li>1 huevo</li>
                <li>1 cucharada de queso crema</li>
                <li>1 cucharada de queso parmesano</li>
                <li>Champiñones fileteados</li>
                <li>Pizca de sal, pimienta, nuez moscada.</li>
                <li>1 cucharadita de ajo en polvo</li>
                <li>1 cucharadita de azúcar</li>
            </ul>

            <br><strong class="titles-strong">¿Cómo hacer el relleno de una tarta de vegetales?</strong>
            <p>Hay dos posibilidades, rehogar la zanahoria, el zucchini y los champis en una sartén con aceite y luego incorporar los demás ingredientes o poner todo en crudo. Queda bien de las dos maneras, pero el rehogado mejora el gusto. Yo la hice todo en crudo para que se vea que queda muy bien.</p>
            <p>Si te parece tedioso rallar, seguramente tu rallador esté desafilado, cómprate uno potente y vas a querer rallar todo. Poner el relleno dentro de la tarta y cocinar hasta cuajar.</p>
            <p>En el caso que elijan hacerla<strong> en crudo la tienen que cocinar a fuego moderado por alrededor de 45 minutos.</strong> Si está cocido pueden poner más fuerte el fuego y en 20 min va a estar lista. <strong>Lo bueno de hacerla en crudo es que el procedimiento es más corto</strong> y mientras, te podés mirar un capítulo de la serie que estás viendo. Porque mirar capítulos en la cama es lo que todos hacemos los domingos y que la tarta se cocine solita…</p>
            
            <h2 class="titles-second">Vianda día 2: Receta de pollo al horno con ensalada de espinaca y tomates</h2>
            <strong class="titles-strong">¿Cómo hacer pollo al horno?</strong>
            <p>El pollo al horno es otra cosa que se hace prácticamente sola. Condimentá las presas de pollo (yo hice dos para tener para otro día). A mí me gusta con limón, sal, orégano, miel y polvo de ajo.</p>
            <p>Poner a fuego medio para que se cocine bien adentro, una vez listo subí la temperatura para dorar.</p>
            <p><strong>Te recomiendo que en el fondo de la asadera pongas agua, ¡así evitás llenar toda la casa de humo!</strong></p><br>
            
            <strong class="titles-strong">Ingredientes para la ensalada de espinaca y tomate:</strong>
            <ul class="titled-list">
                <li>Un tomate grande o dos pequeños</li>
                <li>Medio atado de espinaca</li>
                <li>Una taza de garbanzos cocidos</li>
                <li>50 gr de queso semiduro</li>
            </ul>
            <br><strong class="titles-strong">¿Cómo hacer ensalada de espinaca y tomate?</strong>
            <p>La ensalada la podés hacer con un tomate y un puñado de espinaca. Si querés sumarle sabor algunas nueces picadas le quedan espectacular.</p>
            <p>Para transportar la ensalada hacelo siempre sin condimentar y <strong>conseguite un tupper a rosca o un frasco para la vinagreta</strong>. La más clásica es dos partes de aceite de oliva con una parte de aceto, sal y pimienta. Usá el botecito para batirla y emusionarla.</p>
            
            <h2 class="titles-second">Vianda día 3: ensalada de tomate, espinaca, arroz blanco, garbanzos y cuadraditos de queso semiduro.</h2>
            <p>Y si, una vez a la semana hay que comer ensalada. La podés mezclar o comer separado. Lo importante es que tiene vegetales, granos, legumbres y le agregué unos pedacitos de queso. <strong>Los granos y las legumbres se juntan para formar una proteína completa, son el reemplazo clásico de la carne para vegetarianos y veganos.</strong> Si vas a tomar queso duro acordate de la porción, cuando decidimos agregar algún ingrediente calórico hay que prestar mucha atención a la cantidad. También podrían ser unos frutos secos o croutons.</p>
            <p><strong>Los garbanzos acordate de remojarlos, si te olvidaste podés recurrir a los lentejones o porotos aduki que son dos legumbres que no necesitan remojo.</strong> Y por las dudas, alguna lata de legumbres nunca está demás en la alacena.</p>
        
            <h2 class="titles-second">Vianda día 4: Roll protéico de omelette, pollo, espinaca y arróz blanco</h2>
            <p>En vez de armar el roll con masa, como ya lo tuvimos en nuestro día 1 harina, opté por huevo. Mi recomendación es que el omelette lo hagas el día anterior y lo rellenes con lo que te sobró de los demás días.</p>
            <br><strong class="titles-strong">Ingredientes para la masa del omelette:</strong>
            <ul class="titled-list">
                <li>1 huevo</li>
                <li>Sal</li>
                <li>Pimienta</li>
                <li>Orégano</li>
            </ul>

            <br><strong class="titles-strong">¿Cómo hacer un omelette?</strong>
            <p>Batir el huevo con los condimentos hasta unificar. Poner una sartén antiadherente a fuego medio. Pintar con aceite de oliva la base (el huevo se pega muchísimo, el aceite tiene que <strong>formar una película brillosa sobre la sartén para asegurarnos que no se pegue</strong>).</p>
            <p>Echar el huevo batido, esparcirlo y cocinar hasta que se despega de los costados con la ayuda de una espátula. Dar vuelta y cocinar unos segundos más.</p>
            <p>Retirar del fuego y armar el roll. Yo lo rellené de lo que venía usando: pollo, espinaca y arroz blanco. Condimenté con jengibre en polvo y salsa de soja.</p>
            <p><strong>De hojas verdes elegí la que te gusta yo opté por espinaca, pero sea cual sea la que elijas, lavala toda el primer día, centrifugala y guardala en una bolsa con dos o tres hojas de papel de cocina.</strong> Eso hace que se mantenga fresca y crujiente toda la semana.</p>

            <h2 class="titles-second">Día 5: ¡Premio!</h2>
            <p>Como te portaste muy bien toda la semana tenés merecido el premio. <strong>Yo te recomiendo que te hagas una lista con los lugares que queres conocer y vayas probando todos.</strong> ¡De ser posible reservá tu mesa, los minutos de la hora de almuerzo son sagrados y no hay que perder ni uno esperando!</p>
        
            <a href="./home.html" class="return-button button-bot"><i class="fas fa-caret-left"></i> Volver</a>
        </article>
    </div>
    <div include-html="./footer.html"></div>

<script src="../js/include-html.js"></script>
    
</body>
</html>