<a href="#global-container"><div id="return"><i class="fas fa-arrow-circle-up"></i></div></a>

<section id="container-sm">

    <h1 class="title-section">Gabriel Barbarin</h1>

    <div class="container-img-fig">

        <div class="img-container">
            <picture>
                <source class="img-sm" media="(min-width:768px)" srcset="../img/sm-escritorio.jpeg" 
                    alt="Gabriel Barbarin Desarrollador Web" type="image/jpeg">
                
                <source class="img-sm" media="(min-width:601px)" srcset="../img/sm-tablet.jpeg" 
                    alt="Gabriel Barbarin Desarrollador Web" type="image/jpeg">

                <source class="img-sm" media="(max-width:600px)" srcset="../img/sm-movil.jpeg" 
                    alt="Gabriel Barbarin Desarrollador Web" type="image/jpeg">
                <img class="img-sm" src="../img/sm-escritorio.jpeg"  alt="Gabriel Barbarin Desarrollador Web">
            </picture>
        </div>

        <div class="container-fig">
            <figcaption>Desarrollador web</figcaption>
        </div>
    </div>

    <div class="mini-explanation">
        <p>
            Soy un desarrollador web y estudiante unviersitario de Buenos Aires, Argentina.
            Para saber más en detalle sobre mi te dejo acá mi <a href="#">curriculim</a>, sino podes seguir a ver mis <a href="#container-projects">proyectos</a>.
        </p>
    </div>

    <div class="knowledge-container">

        <div class="knowledge-text">
            <h2>Conocimientos</h2>
            <p>Actualemnte como se puede ver en mis proyectos manejo HTML5, CSS3, SASS y basicamente JavaScript.</p>
            <p>Este ultimo junto con Angular son las herramientas que estoy aprendiendo. En un futuro cuando consiga un buen maejo de los mismo me interesa mucho aprender React.</p>
        </div>

        <div class="knowledge-img">
          
            <div class="first-img">
                <picture>
                    <source media="(min-width:768px)" srcset="../img/html5-dark-escritorio.png" 
                        alt="Logo HTML5" type="image/png" width="100px">
                    
                    <source media="(min-width:600px)" srcset="../img/html5-dark-tablet.png" 
                        alt="Logo HTML5" type="image/png" width="100px">
                    
                    <source media="(max-width:600px)" srcset="../img/html5-dark-movil.png" 
                        alt="Logo HTML5" type="image/png" width="100px">

                   <img src="../img/html5-dark-escritorio.png" alt="Logo HTML5" width="100px">
                </picture>
            </div>

            <picture>
                <source media="(min-width:768px)" srcset="../img/css3-dark-escritorio.png" 
                    alt="Logo CSS3" type="image/png" width="100px">
                
                <source media="(min-width:600px)" srcset="../img/css3-dark-tablet.png" 
                    alt="Logo CSS3" type="image/png" width="100px">
                
                <source media="(max-width:600px)" srcset="../img/css3-dark-movil.png" 
                    alt="Logo CSS3" type="image/png" width="100px">

               <img src="../img/css3-dark-escritorio.png" alt="Logo CSS3" width="100px">
            </picture>

            <picture>
                <source id="sass-img" media="(min-width:768px)" srcset="../img/sass-dark-escritorio.png" 
                    alt="Logo SASS" type="image/png" width="140px" height="130px">
                
                <source id="sass-img" media="(min-width:600px)" srcset="../img/sass-dark-tablet.png" 
                    alt="Logo SASS" type="image/png">
                
                <source id="sass-img" media="(max-width:600px)" srcset="../img/sass-dark-movil.png" 
                    alt="Logo SASS" type="image/png">

               <img id="sass-img" src="../img/sass-dark-escritorio.png" alt="Logo SASS" width="140px" height="130px">
            </picture>
            
        </div>

    </div>

    <!--Curriculum-->
    <div class="container-slider">
  
        <ul class="slider">
          <li id="slide1">

            <div class="linea-tiempo">
                <h1>Formación <i class="fas fa-graduation-cap"></i></h1>

                <div class="momento">
                    <h3>2009 <span>"Hola mundo"</span></h3>
                    <div class="descripcion">
                        <p>Mi entrada al mundo de la informática fue en la ciudad de Mar del Plata cuando comencé la tecnicatura en informática en la Escuela Técnica N° 5 "Amancio Williams" la cual cuenta con 7 años de estudio + 200hs de pasantías.</p>
                    </div>
                </div>

                <div class="momento">
                    <h3>2016 <span>"Primer título"</span></h3>
                    <div class="descripcion">
                        <p>En el 2016 con 19 años me volví <strong>técnico en informática Personal y Profesional</strong> donde conocí entre otras cosas la programación, más específicamente el lenguaje C++ y el paradigma de la programación orientada a objetos.</p>
                    </div>
                </div>

                <div class="momento">
                    <h3>2017 <span>"Ligas mayores"</span></h3>
                    <div class="descripcion">
                        <p>Este año aprobé el ingreso a la Facultad de Ingeniería de Mar del Plata para la carrera de <strong>Ingenieria en Informatica</strong>.</p>
                    </div>
                </div>

                <div class="momento">
                    <h3>2018-2021 <span>"La actualidad"</span></h3>
                    <div class="descripcion">
                        <p>En la fecha me encuentro realizando mi carrera a la par que aprendo sobre lo que me gusta que es la programación, actualmente me estoy instruyendo en JavaScript, para luego focalizar mi atención en React. Realicé el programa Ópalo de la academia de Kiko Palomares el cual incluye cursos de HTML5, CSS3, SASS y LESS. Además finalice cursos más pequeños en Udemy de las misma temática.</p>
                    </div>
                </div>

            </div>
          </li>

          <li id="slide2">
            
            <div class="linea-tiempo">
                <h1>Experiencia <i class="fas fa-briefcase"></i></h1>

                <div class="momento">
                    <h3><span>"Desarrollo web"</span></h3>
                    <div class="descripcion">
                        <p>En el rol de desarrollador web de momento como experiencia tengo los proyectos propios que lleve a cabo y pueden ver a detalle en mi portafolios.</p>
                    </div>
                </div>

                <div class="momento">
                    <h3>2016 <span>"Primer pasantía"</span></h3>
                    <div class="descripcion">
                        <p><strong>Carga de base de datos</strong> para la Jefatura Distrital de la Municipalidad de General Pueyrredon.</p>
                        <p><i class="fas fa-circle"> </i> Cargar los datos de las escuelas de la ciudad para la tarjeta estudiantil.</p>
                        <p><i class="fas fa-circle"> </i> Relevamiento de planillas para evitar multiples subidas.</p>
                    </div>
                </div>

                <div class="momento">
                    <h3>2016 <span>"Segunda pasantía"</span></h3>
                    <div class="descripcion">
                        <p><strong>Administrador de red</strong> para la escuela secundaria N°15 de Mar del Plata.</p>
                        <p><i class="fas fa-circle"> </i> Desbloqueo de netbooks.</p>
                        <p><i class="fas fa-circle"> </i> Reparación (dentro de lo posible) de netbooks.</p>
                        <p><i class="fas fa-circle"> </i> Cuidado de la red escolar.</p>
                    </div>
                </div>

                <div class="momento">
                    <h3>2019-2021 <span>"La actualidad"</span></h3>
                    <div class="descripcion">
                        <p><strong>Asistente administrativo</strong> para la Herrería Barbarin de Mar del Plata.</p>
                        <p><i class="fas fa-circle"> </i> Realizar presupuestos.</p>
                        <p><i class="fas fa-circle"> </i> Encargado de la facturación.</p>
                        <p><i class="fas fa-circle"> </i> Encargado del manejo de impuestos del establecimiento.</p>
                    </div>
                </div>

            </div>
          </li>
        </ul>
        
        <ul class="menu-slider">
          <li>
            <a href="#slide1" onclick="cambio('1')">Formación</a>
          </li>
          <li>
            <a href="#slide2" onclick="cambio('2')">Experiencia</a>
          </li>
        </ul>
        
    </div>
</section>