<a href="#global-container"><img id="return" src="./img/icon-return.png" width="50px"></a>

<section id="container-sm">

    <h1 class="title-section">Gabriel Barbarin</h1>

    <div class="container-img-fig">

        <!--Agregar Picture en vez de img-->
        <div class="img-container"><img class="img-sm" src="../img/header1.jpeg" alt="Gabriel Barbarin desarrollador web"></div>

        <div class="container-fig">
            <figcaption>Desarrollador web</figcaption>
        </div>
    </div>

    <div class="mini-explanation">
        <p>
            Soy un desarrollador web y estudiante unviersitario de Buenos Aires, Argentina.
            Para saber más en detalle sobre mi te dejo acá mi <a href="#">curriculim</a>, sino podes seguir a ver mis <a href="#container-projects">proyectos</a>.
        </p>
    </div>

</section>