<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
    <title>Gabi Barbarin News</title>

    <div class="container">

        <div include-html="header.html"></div>
        <div include-html="main-menu.html"></div>
        <div include-html="aside.html"></div>
        <section class="content">
            <article id="article-3">
                <h1>¿HTML qué es y para qué sirve?</h1>
                <p>
                    HTML es el lenguaje de las páginas webs, todas las páginas webs están hechas en HTML<br>
                    TODAS
                </p>
                <p>
                    Pero HTML al contrario de lo que mucha gente piensa no es un lenguaje 
                    de programación, es un lenguaje de marcas o de marcado.
                </p>
                <p>
                    HTML está pensado para estructurar la información que se le da al 
                    navegador para visualizar las páginas web, de forma que este entienda que es cada cosa.<br>
                    Un documento HTML tiene un aspecto como este.
                </p>
                <p>
                    El HTML como buen lenguaje de marcado, se basa en un sistema de etiquetas. 
                    Estas etiquetas se usan para que el navegador comprenda que clase de información 
                    le estamos dando. Por ejemplo, tenemos etiquetas para indicar títulos, toda la 
                    información que metamos en esas etiquetas, el navegador sabrá que son títulos. 
                    O por ejemplo imágenes, tenemos etiquetas para imágenes, de esta forma el 
                    navegador sabrá que es una imagen, y la pintará como tal.
                </p>
                <p>
                    ¿Cómo se indica que es un etiqueta?
                </p>
                <p>
                    Las etiquetas en HTML comienzan con un símbolo de menor que, y terminan con 
                    uno de mayor que. Entre estos dos símbolos va el nombre de la etiqueta.
                </p>
                <p>
                    Por ejemplo, tenemos una etiqueta para indicar un párrafo, el nombre de 
                    esta etiqueta es p. Después de cerrar esta etiqueta, escribiríamos el párrafo 
                    de texto, y cuando terminas al final volvemos a poner la etiqueta, pero esta 
                    vez con una barra diagonal, esto indica que es el cierre de la etiqueta, que 
                    lo que hay entre la primera etiqueta sin la barra diagonal, y la que la tiene, 
                    es la información del párrafo.
                </p>
                <p>
                    Estructura de un archivo HTML
                </p>
                <p>
                    Un archivo de HTML no es más que un archivo de texto plano donde ponemos todas estas 
                    etiquetas e información.
                </p>
                <p>
                    Todos los archivos HTML tiene como primera etiqueta, la etiqueta HTML
                </p>
                <p>
                    ¿a que no te lo esperabas?
                </p>
                <p>
                    Con su apertura y con su cierre, y dentro de esta etiqueta, están todas las demás.
                </p>
                <p>
                    Tenemos dos partes muy importantes, la primera es el:
                </p>
            
                <h2>
                    Head, o cabecera
                </h2>

                <p>    
                    Donde van etiquetas especiales con información que no la ve el usuario, 
                    como puede ser el título de la página, la descripción, o las vinculaciones a 
                    los archivos CSS, donde van los estilos, y JavaScript, donde va la lógica de la web.<br>
                </p>

                <h2>
                    Segunda parte, la etiqueta body
                </h2>

                <p>
                    Aquí tenemos lo que se ve en el navegador, toda la información visible al usuario. Como 
                    pueden ser títulos, párrafos, imágenes, cualquier cosa que se te ocurra que sea visible para 
                    el usuario.
                </p>
                <p>
                    Oye, esa etiqueta img que he visto, no tiene dos partes, como las otras.
                </p>
                <p>
                    Cierto, hay etiquetas que no se las rellena con información entre la etiqueta de apertura y la 
                    de cierre, como la de img, que como vemos tiene lo que llamamos un atributo llamado src
                    (de source, fuente de la imagen), donde va la URL o la ruta donde tenemos la imagen que 
                    queremos que muestre.Y como vemos en este tipo de etiquetas, el cierre está al final de 
                    la etiqueta, al poner la barra diagonal al final de la etiqueta estamos indicando que ya 
                    se cierra ahí, y que no necesita de una segunda parte de cierre.
                    Pues ya esta, ya sabes HTML.
                </p>
                <p>
                    ¡ahora solo te queda conocer las etiquetas que existen!
                </p>
            </article>
        </section>
        <div include-html="footer.html"></div>

    </div>

    <script src="../js/include-html.js"></script>
</head>
<body>
    
</body>
</html>