<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
    <title>Gabi Barbarin News</title>
</head>

<body>

    <div class="container">

        <div include-html="header.html"></div>
        <div include-html="main-menu.html"></div>
        <div include-html="aside.html"></div>
        <section class="content">
            <article id="article-2">
                <h1>¿Por qué HTML no es un lenguaje de programación?</h1>
                <p>
                    El otro día hablaba con una de mis seguidoras en Instagram, y 
                    me decía que HTML era un lenguaje de programación. La chica 
                    estaba super convencida.
                </p>
                <p>
                    Y yo le intenté explicar que no lo era.
                </p>
                <p>
                    Le decía que lo que sí que es, es un lenguaje informático, y un lenguaje de marcado.
                </p>
                <p>
                    No es más que un sistema para estructurar información de forma ordenada que el 
                    navegador sepa interpretar, pero nada más.
                </p>
                <p>
                    Y ella que no, que era un lenguaje de programación y punto
                </p>
                <p>
                    Y esto no es que se trate de una opinión u otra, porque yo opine que una 
                    zanahoria sea una manzana, no va hacer que sea una manzana. Por muy fuerte 
                    que sea mi opinión.
                </p>
                <p>
                    Y sabéis porque la chica estaba convencida de que era un lenguaje de programación, 
                    pues bien, era porque tenía una asignatura en instituto que se llamaba “Programación 
                    con HTML”
                </p>
                <p>
                    Claro que sí profesores, un nombre perfecto para la asignatura
                </p>
                <p>
                    Así normal que la chica estuviera confundida, si te dicen que tienes una 
                    asignatura de programación en HTML, ¿que vas hacer en la asignatura?
                </p>
                <p>
                    ¡Programar!
                </p>
                <p>
                    ¿En que?
                </p>
                <p>
                    ¡En HTML!
                </p>
                <p>
                    Entonces HTML es un lenguaje de programación, claro que sí, y nos quedamos tan tranquilos.<br>
                    Cuando aprendes HTML no aprender a implementar algoritmos, no defines 
                    variables,ni creas funciones.
                </p>
                <p>
                    En cambio, lo que si aprendes es a maquetar, a estructurar el contenido 
                    de forma que el navegador sepa de qué se trata esa información.
                </p>
                <p>
                    Y hay mucha gente, que “sabe” HTML, pero lo sabe mal, no entiende esto, 
                    no entiende que ha de usar cada etiqueta para lo que está destinado, por 
                    ejemplo muchas veces se usan las etiquetas <strong>H1</strong>, <strong>H2</strong>, 
                    <strong>H3</strong>, etc, para poner 
                    un texto más grande o más pequeño. Cuando estas etiquetas no están pensadas
                    para eso, están pensadas para diferentes niveles de encabezados, de importancia.
                </p>
                <p>
                    Y yo mismo he cometido este error en mis inicios, pero si nadie te explica para qué es cada 
                    etiqueta, claro, tu probando al final ves que una la pinta el navegador más grande y otra 
                    más pequeña, pues te piensas que es para tamaños, es normal, sin tener una buena base de 
                    HTML usarlo mal.
                </p>
                <p>
                    Es muy importante que cuando uses una etiqueta, sepas realmente que lo estás haciendo bien.<br>
                    Otro ejemplo de esto es, para poner el texto en negrita, para poner el texto en negrita 
                    tenemos dos etiquetas, la <strong>Strong</Strong> y la <b>b</b>. Pero sabes cual has de usar en cada ocasión?
                    Esto es algo que explico en este vídeo que te dejo por aquí.
                </p>
                <p>
                    En HTML no tenemos lógica ninguna, en HTML no se escriben los programas, no 
                    tenemos bucles, variables, funciones, todos los elementos que definen a un 
                    lenguaje de programación.
                </p>
                <p>
                    Es cierto que dentro de un archivo HTML podemos escribir en un lenguaje 
                    de programación, que es JavaScript, pero porque metamos lógica en JavaScript 
                    dentro de un archivo HTML no significa que HTML sea un lenguaje de programación, 
                    el lenguaje de programación es JavaScript, son dos cosas muy diferentes.
                </p>
                <p>
                    Y sabéis que paso con la chica esta al final
                </p>
                <p>
                    Conseguí que se diese cuenta de que HTML no era un lenguaje de programación, 
                    bien misión cumplida. Y cuando le quedo claro esto me dijo: “entonces JavaScript 
                    tampoco es un lenguaje de programación no?, pero esto, esto ya es otra historia...
                </p>
            </article>
        </section>
        <div include-html="footer.html"></div>

    </div>

    <script src="../js/include-html.js"></script>
   
</body>
</html>