<section class="content"> 
    <h1>Últimas noticias</h1>
    <article>
        <h2>El desarrollo web no es más que copiar y pegar</h2>
        <p>Hoy en día es impensable crear un proyecto web sin utilizar algún tipo de gestor de paquetes,
            como puede ser el NPM para javascript o Composer para las dependencias de PHP.
            Y es que cuando queremos hacer algo que requiere un poquito más de complejidad siempre hay alguien que ya lo ha hecho antes, 
            y para nosotros es tan fácil como agregar un nuevo paquete a las dependencias y usarlo.
            ¿Quiere decir esto, que el desarrollo web se ha convertido en un simple copiar y pegar?...
        </p>
        <a href="./content-1.html">Leer más >></a>
    </article>

    <article>
        <h2>¿HTML qué es y para qué sirve?</h2>
        <p>
            HTML es el lenguaje de las páginas webs, todas las páginas webs están hechas en HTML<br>
            TODAS<br>
            Pero HTML al contrario de lo que mucha gente piensa no es un lenguaje de programación, 
            es un lenguaje de marcas o de marcado.<br>
            HTML está pensado para estructurar la información que se le da al navegador para
            visualizar las páginas web, de forma que este entienda que es cada cosa.<br>
            Un documento HTML tiene un aspecto como este...
        </p>
        <a href="./content-3.html">Leer más >></a>
    </article>

    <article>
        <h2>¿Por qué HTML no es un lenguaje de programación?</h2>
        <p>
            El otro día hablaba con una de mis seguidoras en Instagram, y 
            me decía que HTML era un lenguaje de programación. La chica 
            estaba super convencida.<br>
            Y yo le intenté explicar que no lo era.<br>
            Le decía que lo que sí que es, es un lenguaje informático, y un lenguaje de marcado...
        </p>
        <a href="./content-2.html">Leer más >></a>
    </article>

    <article>
        <h2>¿Qué es un lenguaje de marcado?</h2>
        <p>
            Un lenguaje de marcado o lenguaje de marcas es una forma de codificar un documento que, 
            junto con el texto, incorpora etiquetas o marcas que contienen información adicional 
            acerca de la estructura del texto o su presentación.<br>
            El lenguaje de marcas más extendido es el HTML (HyperText Markup Language, lenguaje 
            de marcado de hipertexto), fundamento del World Wide Web (entramado de comunicación 
            de alcance mundial)...
        </p>
        <a href="./content-4.html">Leer más >></a>
    </article>

    <ul id="paginacion">
        <li>
            <a href="#">1</a>
        </li>
        <li>
            <a href="#">2</a>
        </li>
        <li>
            <a href="#">3</a>
        </li>
        <li>
            ...
        </li>
        <li>
            <a href="#">23</a>
        </li>
    </ul>
</section>