<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
    <title>Gabi Barbarin News</title>
</head>
<body>
    <div class="container"> <!--Este div contendra toda la pagina-->

        <div include-html="./header.html"></div>
        <div include-html="./main-menu.html"></div>
        <div include-html="./aside.html"></div>
        <div include-html="./content.html"></div>
        <div include-html="./footer.html"></div>

    </div>

    <script src="../js/include-html.js"></script>
</body>
</html>