$primary-color: #B8EBD0;
$primary-color-dark: #3F7CAC;
$secondary-color: #F7C4A5;
$secondary-color-dark: #904E55;
$gray-color: #6F789B;
$gray-color-dark: #3B3F68;

/*Para cambiar los colores de TODA la pagina solo hay que clonar este archivo con otro nombre, 
cambiarle los colores e importarlo en el archivo "styles.css". Con eso nos ahorramos mucho 
trabajo.*/
