footer{
    float: left;
    background-color: $gray-color-dark;
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    text-align: center;

    a{
        color: white;
        transition: .3;
    }

    a:hover{
        color: $gray-color;
    }

    div{
        margin-bottom: 10px;
    }
}