#main-menu{
    float: left;
    width: 100%;
    background-color: $primary-color;
    box-shadow: 2px 2px 5px $gray-color;
    text-transform: uppercase;

    >ul{  
        >li{
            float: left;
            margin: 10px 0;

            >a{
                color: white;
                padding: 10px 20px;
                font-size: 15px;
                border-right: solid 1px $gray-color;
            }
            >a:hover{
                background-color: $primary-color-dark;
            }

            >ul{
                display: none;
                position: absolute;
                margin-top: 10px;

                >li{
                    >a{
                        display: block;
                        color: white;
                        background-color: $secondary-color;
                        padding: 13px;
                        font-size: 13px;
                        border-top: solid 1px $gray-color;
                    }
                }
            }
        }
    }
}

#main-menu{
    >ul{
        >li{
            >ul{
                >li{
                    >a:hover{
                        background-color: $secondary-color-dark;
                    }
                }
            }
        }

        >li:hover{
            >ul{
                display: block;
                box-shadow: 2px 2px 5px $gray-color;
            }
        }
    }
}

@media (max-width: 700px){
    #main-menu{
        >ul{
            >li{
                width: 100%;
                margin: 0;
                border-bottom: solid 1px $gray-color;

                >a{
                    text-align: center;
                    display: block;
                }

                >ul{
                    width: 100%;
                    margin: 0;
                    border-bottom: solid 1px $gray-color;

                    >li{
                        text-align: center;
                    }
                }
            }
        }
    }
}