$primary-font: 'SourceSansPro-light', Tahoma, Geneva, Verdana, sans-serif;
$primary-font-dark: 'SourceSansPro-regular', Tahoma, Geneva, Verdana, sans-serif;

@font-face{
    font-family: 'SourceSansPro-light';
    src: url("../fonts/SourceSansPro-light.ttf");
}
@font-face{
    font-family: 'SourceSansPro-regular';
    src: url("../fonts/SourceSansPro-Regular.ttf");
}