//-- Contenedor --//
.row{
    display: flex;
    flex-wrap: wrap;

    p,strong{
        @include text-general;
    }

    .read-more{
        background-color: $primary-color-dark;
        font-size: 13px;
        padding: 10px;
        margin: 5px 0 10px 0;
        border-radius: 10px;
        display: inline-block;
    }

    .read-more:hover{
        background-color: $secondary-color;
        font-weight: bold;
    }
}

//-- Aside--//
.aside{
    flex: 30%;
    aside{

        padding: 15px;
        background-color: $gray-color;
        img{
            width: 100%;
            box-shadow: 2px 2px 4px $gray-color-dark;
        }
        h2{
            font-size: 18px;
            color: $primary-color-dark;
            margin-bottom: 5px;
        }
        h3{
            font-size: 14px;
            margin-bottom: 0;
            color: $primary-color-dark;
        }
        h4{
            font-size: 14px;
            margin-bottom: 0;
            color: $primary-color-dark;
            em{
                text-transform: uppercase;
                color: $primary-color;
            }
        }
    }
}

@media only screen and (max-width: 700px){
    .row{
        flex-direction: column;
    }
}