#main-menu{
    background-color: $primary-color-dark;
    >ul{
        margin: 0;
        display: flex;
        justify-content: center;
        >li{
            a{
                padding: 10px 15px;
                display: block;
            }
                >ul{
                    display: none;
                    position: absolute; /*Cuando aparece no deforma el nav =)*/
                } 
        }
        >li:hover{
            >ul{
                display: flex;
                flex-direction: column;
                padding: 0;
                background-color: $secondary-color-dark;
            }
        }
    }
}

@media screen and (max-width: 700px){
    #main-menu{
        >ul{
            padding: 0;
            text-align: center;
            flex-direction: column;

            >.border-menu{
                border-bottom: solid 1px $gray-color-dark;
            }

            >li:hover{
                >ul{
                    width: 100%;
                }
            }
        }
    }
}