.blog-box{
    ul{
        padding-left: 15px;

        li{
            margin-top: 10px;
            h2{
                margin: 0;
            }
        }
    }

    img{
        display: block;
        margin: auto;
        width: 65%;
    }
    .text-end-blog{
        text-align: center;
        font-size: 20px;
    }
}