<aside>
    <img src="../img/Gabi.jpeg" alt="Gabi Barbarin">
    <h2>Gabi Barbarin</h2>
    <p class="text-general">Soy Gabriel Barbarin, técnico en informatica Personal y Profesional, estudiante de Ingenieria en Informatica y vengo a dar varios tips para alimentarse correctamente.. Aunque debo admitir que no enseño con el ejemplo.</p>

    <h3>Videos de recetas</h3>
    <p class="text-general">Acá te dejo unos videitos de recetas</p>

    <h4>5 recetas ¡economicas, rapidas, ricas y <em>saludables</em>!</h4>
    <a href="https://www.youtube.com/watch?v=cei3JhG72bg" target="_blank"><img src="../img/video1.jpg" alt="Video comidas saludable Gabi a la cocina"></a></a>
    
    <h4>Galletitas de avena ¡Ricas, crujientes y <em>saludables</em>!</h4>
    <a href="https://www.youtube.com/watch?v=xfKqAuAuFuE" target="_blank"><img src="../img/video2.jpg" alt="Video Receta de galletitas de avena Gabi a la cocina"></a>
    
    <h4>3 recetas con verduras para adelgazar y <em>saludables</em></h4>
    <a href="https://www.youtube.com/watch?v=lycYuIFiuDU"  target="_blank"><img src="../img/video3.jpg" alt="Video recetas con verduras Gabi a la cocina"></a>
</aside>