<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>¡Gabi a la cocina!</title>
    <link rel="icon" type="image/png" href="../img/favicon.png">
</head>
<body>

    <div include-html="./header.html"></div>
    <div include-html="./main-menu.html"></div>
    <div class="row">
        <div class="aside" include-html="./aside.html"></div>
        <article class="content blog-box">
            <a href="./home.html" class="return-button button-top"><i class="fas fa-caret-left"></i> Volver</a>
            <h1 class="titles">Hábitos saludables para programadores</h1>
            <p>Se que este post no es 100% recetas pero hay otros aspectos muy importantes como la iluminación, el mobiliario, la postura corporal y otras condiciones pueden a la hora que se siente y se trabaja. Los programadores pasan largos periodos sentados frente a su computadora, y esto puede causar molestias relacionadas con la espalda, irritación en los ojos, e incluso con un mayor estrés.  Aquí te comparto algunos <strong>hábitos saludables</strong> para programadores. </p>
            
            <h2 class="titles-second">1. Cuidado de la vista</h2>
            <p>La primera recomendación a la hora de trabajar con computadoras, es someterse a una revisión oftalmológica. Algunas veces se llega a la consulta del especialista con un trastorno de visión que se atribuye al uso del ordenador, cuando en realidad existía un problema de base sin tratar que se manifiesta tras muchas horas frente a la pantalla.</p>
            <p>Si sufres algún problema en la visión, es mejor utilizar lentes especialmente destinados al uso de la computadora. Consulta al oftalmólogo. Las gafas de sol reducen la capacidad de lectura. Efectúa pausas frecuentes y descansa la vista. Mantén limpios tus lentes, tus lentes de contacto y la pantalla.</p>

            <h2 class="titles-second">2. Postura corporal</h2>
            <strong class="titles-strong">Trata de que tu puesto de trabajo te permita lo siguiente:</strong>
            <ul class="titled-list">
                <li>Muslos horizontales y piernas verticales, formando un ángulo de 90°.</li>
                <li>Entre el ángulo que forma la rodilla y al borde de la silla, debe haber, más o menos, una cuarta.</li>
                <li>Brazos verticales y antebrazos horizontales, formando un ángulo recto desde el codo.</li>
                <li>Antebrazo y mano en línea recta, paralelos al suelo.</li>
                <li>Los codos pueden tocar ligeramente el costado, pero no los oprimas contra tu cuerpo.</li>
                <li>Las muñecas en una posición natural y sin doblarlas excesivamente.</li>
                <li>Manos relajadas, sin extensión ni desviación lateral. Preocúpate especialmente por mantener los pulgares y los dedos en postura relajada y natural.</li>
                <li>Columna vertebral recta. Sin torsión del tronco. La zona lumbar debe quedar cómodamente apoyada.</li>
                <li>Plantas de los pies apoyadas. Si la silla es demasiado alta para poder colocar los pies sobre el suelo, utiliza un reposapiés.</li>
                <li>Línea de visión paralela a la superficie de trabajo.</li>
                <li>Ángulo de visión menor de 60° en el plano horizontal, y entre los cinco y los 35° en el vertical.</li>
                <li>Cuerpo no aprisionado entre la silla y la mesa.</li>
                <li>Adopta una postura relajada erguida. Evita inclinarte demasiado hacia adelante o hacia atrás.</li>
                <li>Coloca los materiales que utilizas con frecuencia al alcance de la mano.</li>
            </ul>

            <h2 class="titles-second">3. Comer sano</h2>
            <p><strong class="titles-strong">Compra cinco piezas de fruta al inicio de la semana.</strong> Manzanas, plátanos, kiwis, peras o lo que más te gusta. Guárdalas en tu módulo de computadora y come una o más al día.</p>
            <br><p><strong class="titles-strong">Despierta diez minutos antes: prepárate la comida.</strong>Incluye granos enteros, carne con poca grasa y vegetales. Algo sencillo sería un sándwich de pavo con lechuga en pan integral con una ensalada de tomates cherry, por ejemplo. Así evitas los menús que normalmente son muy calóricos, llenos de grasa, y por si fuera poco ahorras dinero.</p>
            <br><p><strong class="titles-strong">Ten una botella de más de un litro en la mesa.</strong> bebe continuamente. Mantener la hidratación ayuda a concentrarse mejor y evita que confundas la sed con hambre, algo muy común.</p>
            <br><p><strong class="titles-strong">Sal de la oficina a la hora de la comida.</strong> Da un paseo al aire libre. Si no puedes hacerlo, haz tiempo en la mañana o en la tarde para hacer algo de ejercicio. Si te es posible ve al trabajo en bici o caminando, y si el trabajo es en tu casa date un tiempo para ir a comprar algo en la tienda de la esquina. De tal manera que te distraigas y camines un poco.</p>
            <br><p><strong class="titles-strong">Toma menos cafeína.</strong> Sustituye una de tus tazas de café del día, por alguna infusión o una taza de café descafeinado.</p>
            <br><p><strong class="titles-strong">Fuera las galletas.</strong> Evita a toda costa la caja de galletas o la bolsa de papitas fritas de tu escritorio. Ten a la mano una barrita de cereales baja en grasa o tortitas de arroz.</p>
        
            <h2 class="titles-second">4. Hábitos de trabajo y ejercicios saludables</h2>
            <p>Son varios factores lo que determinan la manera de sentirse durante el día de trabajo. Los hábitos de trabajo también son importantes.</p>
            <strong class="titles-strong">Recuerda lo siguiente:</strong>
            <ul class="titled-list">
                <li>Trabaja en una postura relajada y natural. Evita las posturas forzadas que pueden producir un cansancio muscular.</li>
                <li>Examina tus hábitos de trabajo y los tipos de tarea que se lleva a cabo. Interrumpe la rutina e intenta variar las tareas a lo largo del día, de forma que no trabajes en la misma posición ni realices las mismas actividades con tus manos durante varias horas.</li>
                <li>Es mejor hacer pausas cortas y frecuentes, que pocas y prolongadas. En cualquier caso, no conviene pasar más de una hora sin moverse. Levántate y tómate algunos minutos para estirar los músculos.</li>
                <li>Ciertos ejercicios que mejoran la circulación se pueden hacer mientras se trabaja. Alguno de ellos puede ser: con los pies juntos, levanta primero los talones y luego las puntas, o mueve en círculos los hombros adelante y atrás.</li>
                <li>Utiliza la fuerza mínima necesaria para pulsar las teclas. Evita golpear las teclas ejerciendo una fuerza superior a la necesaria.</li>
                <li>Toma el mouse con la mano relajada. No lo sujetes con fuerza. Utiliza todo el brazo para moverlo.</li>
            </ul>  
            <a href="./home.html" class="return-button button-bot"><i class="fas fa-caret-left"></i> Volver</a>      
        </article>
    </div>
    <div include-html="./footer.html"></div>

<script src="../js/include-html.js"></script>
    
</body>
</html>