<aside class="row">

    <div class="col-xs-3 col-s-3 col-l-12 content-aside">
        <a href="#">
            <img src="../img/shopping-cart.svg" width="40">
            <p>0 artículos en la cesta</p>
        </a>
    </div>

    <div class="col-xs-3 col-s-3 col-l-12 content-aside">
        <a href="#">
            <img src="../img/my-account.svg" width="40">
            <p>Mi cuenta</p>
        </a>
    </div>

    <div class="col-xs-3 col-s-3 col-l-12 content-aside">
        <a href="#">
            <img src="../img/favorites.svg" width="40">
            <p>Artículos favoritos</p>
        </a>
    </div>

    <div class="col-xs-3 col-s-3 col-l-12 content-aside">
        <a href="#">
            <img src="../img/newsletter.svg" width="40">
            <p>Suscribíte a nuestra newsletter</p>
        </a>
    </div>

</aside>