<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-s-3">
                <img src="../img/icon-shipping.png">
                <h3>Envío gratis</h3>
                <p>Por $399.99 de compra</p>
            </div>
            <div class="col-xs-6 col-s-3">
                <img src="../img/icon-refund.png">
                <h3>Devoluciones gratis</h3>
                <p>Hasta 90 días despues de la compra</p>
            </div>
            <div class="col-xs-6 col-s-3">
                <img src="../img/icon-customer-service.png">
                <h3>Atención al cliente</h3>
                <p>7 días a la semana</p>
            </div>
            <div class="col-xs-6 col-s-3">
                <img src="../img/icon-secure.png">
                <h3>Pago seguro</h3>
                <p>100% de confiable</p>
            </div>
            <div class="col-xl-12">
                <a href="http://www.instagram.com/gabibarbarin" target="_blank">&copy Gabriel Barbarin</a>
            </div>
        </div>
    </div>
</footer>