<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="icon" tpye="image/png" href="../img/icon.png">
    <title>Mil's - Indumentaria femenina</title>
</head>
<body>
    
    <div class="container">
        <div class="row"> <!-- La suma de columnas siempre debe dar 12 o menos -->

            <div class="col-xs-12 col-s-12 col-m-2 col-l-2">
                <div include-html="main-menu.html"></div>
            </div>

            <div class="col-m-10 col-l-7">
                <div include-html="products.html"></div>
            </div>

            <div class="col-m-12 col-l-3">
                <div include-html="aside.html"></div>
            </div>

        </div>
    </div>

    <div include-html="footer.html"></div>

    <script src="../js/include-html.js"></script>
</body>
</html>