<h1 class="title-products">Vestidos de mujer</h1>

<div class="row">

    <div class="col-xs-12">

        <form>
            <input class="search-input" type="search" name="search" placeholder="Buscar un articulo o una referencia...">
        </form>

        <select class="select-order">
            <option selected>Precio mas bajo</option>
            <option>Precio mas alto</option>
            <option>Por opiniones</option>
            <option>Por descuento</option>
        </select>

    </div>

</div>

<div class="row">

    <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
        <img width="100%" alt="Vestido Mil's" src="../img/vestidos/vestido1.jpg">

        <div class="hidden offer">Oferta</div>

        <h3>Vestido cruzado largo</h3>

        <strong class="price">$750.00</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
        <img width="100%" alt="Vestido Mil's" src="../img/vestidos/vestido2.jpg">

        <div class="offer">Oferta</div>

        <h3>Vestido cruzado largo con estampado</h3>

        <strong class="price"><del>$900.00</del> $860.00</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
        <img width="100%" alt="Vestido Mil's" src="../img/vestidos/vestido3.jpg">

        <div class="hidden offer">Oferta</div>

        <h3>Vestido corto con botones estampado</h3>

        <strong class="price"> $630.00</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
        <img width="100%" alt="Vestido Mil's" src="../img/vestidos/vestido4.jpg">

        <div class="hidden offer">Oferta</div>

        <h3>Vestido evasé y estampado</h3>

        <strong class="price">$600.00</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
        <img width="100%" alt="Vestido Mil's" src="../img/vestidos/vestido5.jpg">

        <div class="hidden offer">Oferta</div>

        <h3>Vestido cruzado largo con estampado</h3>

        <strong class="price">$760.00</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
        <img width="100%" alt="Vestido Mil's" src="../img/vestidos/vestido6.jpg">

        <div class="offer">Oferta</div>

        <h3>Vestido cruzado largo con estampado</h3>

        <strong class="price"><del>$849.99</del> $769.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
        <img width="100%" alt="Vestido Mil's" src="../img/vestidos/vestido7.jpg">

        <div class="hidden offer">Oferta</div>

        <h3>Vestido cruzado largo con estampado</h3>

        <strong class="price">$560.00</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
        <img width="100%" alt="Vestido Mil's" src="../img/vestidos/vestido8.jpg">

        <div class="hidden offer">Oferta</div>

        <h3>Vestido cruzado largo con estampado</h3>

        <strong class="price"> $540.00</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
        <img width="100%" alt="Vestido Mil's" src="../img/vestidos/vestido9.jpg">

        <div class="offer">Oferta</div>

        <h3>Vestido manga larga</h3>

        <strong class="price"><del>$669.99</del> $499.99</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 col-xs-12 product-box">
        <img width="100%" alt="Vestido Mil's" src="../img/vestidos/vestido10.jpg">

        <div class="hidden offer">Oferta</div>

        <h3>Vestido de embarazo sin mangas</h3>

        <strong class="price"> $360.00</strong>
    </a>
</div>

<ul class="pagination">
    <li><a href="./home.html" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>...</li>
    <li><a href="#">12</a></li>
</ul>
