aside{
    text-align: center;
    padding: 15px;
    font-size: 14px;
    .content-aside{
            margin: 15px 0;
        a:hover{
            text-decoration: none;
        }
        p{
            margin: 0px;
        }
    }
}